.docs-autocomplete-layout {
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
}

.docs-autocomplete-column { flex: 1; }
.docs-autocomplete-column pre { line-height: 1.6; }
