.docs-autocomplete-layout {
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
}

.docs-autocomplete-column { flex: 1; }
.docs-autocomplete-column pre { line-height: 1.6; }


.docs-autocomplete-overflow {
	background-color: var(--ui-color-background-light-1);
	padding: 20px;
	overflow: hidden;
}
