.split-wrap {
	width: 400px;
	height: 200px;
	border: 1px solid red;
	display: flex;
	flex-flow: row;
	position: relative;
}

.split-wrap-v { flex-flow: column; }
.split-box { border: 1px solid green; flex: 1; }

.min-w { min-width: 20px; max-width: 120px; }
.min-h { min-height: 50px; max-height: 150px; }
