.banner {
	height: clamp(100px, 40vw, 360px);
	padding-top: 60px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.banner a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 2vw;
	margin: auto;
	padding: 0;
	text-decoration: none;
}

.logo {
	width: clamp(42px, 10vw, 160px);
	height: clamp(42px, 10vw, 160px);
	opacity: 0.2;
	filter: drop-shadow(0 15px 5px #000);
}


.theme-light .logo {
	filter: invert(1) drop-shadow(0 15px 6px #000b)
}

.logotype {
	font-family: 'Prime Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: clamp(28px, 6vw, 90px);
	font-weight: 100;
	margin: 0;
	padding: 0 4px 0 0;
	display: flex;
	flex-flow: row;
	white-space: nowrap;
	line-height: 1;
	width: auto;
	text-shadow: 0 15px 5px #0009;
	position: relative;
}

.theme-light .logotype {
	text-shadow: 0 15px 9px #0005;
}

.logotype em { font-weight: 500; }
.logotype sub {
	font-size: var(--ui-font-m);
	font-weight: 300;
	color: var(--ui-color-text-semi);
	position: absolute;
	right: 0;
	top: -1rem;
}


.banner a:hover .logotype span,
.banner a:hover .logotype em {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-skip-ink: none;
	text-underline-offset: 8px;
}
.banner a:hover .logotype span { text-decoration-color: var(--ui-color-accent); }
.banner a:hover .logotype em { text-decoration-color: var(--ui-color-text); }





.footer-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5vw;
	margin: 6rem 0 0;
	height: 2rem;
}

.footer-links a,
.footer-links a:hover {
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--ui-color-text-semi);
	transition: color 0.1s;
}

.footer-links a:hover { color: var(--ui-color-text); }

.footer-links a svg { height: 2rem; width: 2rem; margin: 0; }
.footer-links a.npm svg { width: 5rem; }




.sticky-block {
	background: var(--ui-color-background);
	margin: 0;
	padding: 0;
}

main>h1,
main>h2,
.sticky-block>h1,
.sticky-block>h2 {
	font-family: 'Prime Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 2rem -2rem 1rem;
	padding: 0.5rem 100px 0.5rem 2rem;
}

.prime-light {
	font-family: 'Prime Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* stylelint-disable-next-line no-descending-specificity */
main>h2,
.sticky-block>h2 {
	font-size: 1.8rem;
	width: auto;
	border-bottom: 1px solid var(--ui-color-border-2);
	position: sticky;
	top: 0;
	z-index: 50;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: var(--ui-color-background);
}



/* stylelint-disable-next-line no-descending-specificity */
main>h2 em {
	color: var(--ui-color-text-semi);
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-left: 0.5rem;
	vertical-align: text-top;
}

main>p code,
main>ul li code {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	color: var(--ui-color-accent);
	font: inherit;
	white-space: break-spaces;
}


@media (1px <= width <= 800px) {
	main>h1,
	main>h2,
	.sticky-block>h1,
	.sticky-block>h2 { padding-left: 54px; }
}
