.main-header { height: 32vw; max-height: 300px; }

.main-header a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.4vw;
	padding: 5rem 0 0;
	overflow: hidden;
	text-decoration: none;
}

.logo {
	width: 14vw;
	height: 14vw;
	max-width: 180px;
	max-height: 180px;
	opacity: 0.9;
	filter: drop-shadow(0 1px 1px #000);
}


.logotype {
	font-size: clamp(32px, 5vw, 72px);
	font-weight: 100;
	margin: 0;
	display: flex;
	flex-flow: row;
	white-space: nowrap;
	gap: 0.2rem;
	line-height: 1;
	width: auto;
}

.logotype em { font-weight: 500; }
.logotype sub {
	font-size: 1rem;
	font-weight: 300;
	color: var(--ui-color-text-semi);
	margin: -1rem 0 0 -4.4rem;
	width: 4rem;
	text-align: right;
}


h2 {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-weight: 400;
}
/* stylelint-disable-next-line no-descending-specificity */
h2 em { color: var(--ui-color-text-semi); font-size: 0.8em; }

p code,
li code {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	color: var(--ui-color-accent);
	font: inherit;
	white-space: break-spaces;
}


.social-buttons {
	display: flex;
	align-items: center;
	position: absolute;
	top: 1rem;
	right: 2rem;
	gap: 1.4rem;
	margin: 0;
	list-style: none;
}

.social-button a { opacity: 0.5; text-decoration: none; }
.social-button a:hover { opacity: 1; text-decoration: underline; }
