.main-header {
	height: 30vw;
	max-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.4vw;
	margin: -2em -2em 2em;
	padding: 2em;
	overflow: hidden;
}

.logo {
	width: 14vw;
	height: 14vw;
	max-width: 180px;
	max-height: 180px;
	opacity: 0.9;
	filter: drop-shadow(0 1px 2px #0009);
}

.logotype {
	font-size: clamp(32px, 5vw, 72px);
	font-weight: 100;
	margin: -0.3em 0 0;
	display: flex;
	flex-flow: row;
	white-space: nowrap;
	filter: drop-shadow(0 1px 2px #0009);
	gap: 0.2em;
}
.logotype em { font-weight: 500; }


h2 {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-weight: 400;
}
/* stylelint-disable-next-line no-descending-specificity */
h2 em { color: var(--ui-color-text-semi); font-size: 0.8em; }

li code {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	color: var(--ui-color-accent);
	font: inherit;
}
