.notification-center {
	--ui-notification-border-radius: var(--ui-border-radius);
	--ui-notification-gap: 0.75rem;
	--ui-notification-width: 30rem;

	position: fixed;
	transform: translateZ(1px);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: var(--ui-notification-gap);
	width: calc(var(--ui-notification-width) + var(--ui-notification-gap) * 2);
	top: 0;
	right: 0;
	z-index: -1;
	padding: var(--ui-notification-gap);
	height: fit-content;
	max-height: 100vh;
	overflow: hidden auto;
	overscroll-behavior: contain;
}

.notification-center:not(:empty) { z-index: var(--ui-z-index-popup); }


.notification {
	font-size: var(--ui-font-m);
	position: relative;
	overflow: hidden;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 3rem;
	border: none;
	margin: 0;
	gap: 1rem;;
	box-shadow: var(--ui-shadow-fancy);
	border-radius: var(--ui-notification-border-radius);
	z-index: var(--ui-z-index-popup);
	backdrop-filter: blur(15px);
}

.notification-info    { background-color: var(--ui-color-info-semi); }
.notification-success { background-color: var(--ui-color-success-semi); }
.notification-warning { background-color: var(--ui-color-warning-semi); }
.notification-error   { background-color: var(--ui-color-danger-semi); }


.notification .notification-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--ui-margin-m);
	padding-right: var(--ui-margin-m);
}


.notification button {
	background: none;
	color: var(--ui-color-text);
	height: 1.8rem;
	min-width: 1.6rem;
	font-size: inherit;
	padding: 0 var(--ui-margin-m);
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui-border-radius-l);
	border: 1px solid transparent;
}

.notification button:focus-visible {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	outline: none;
}

.notification button:hover { color: var(--ui-color-text-2); background: #2228; }
.notification button:active { color: var(--ui-color-text-1); background: #0008; }



.notification-icon {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: var(--ui-button-height);
}


.notification-msg {
	color: var(--ui-color-text);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.8rem;
	line-height: 1.4;
	font-weight: 400;
}

.notification-progressbar {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	z-index: -1;
}

.notification-progress {
	height: 100%;
	border-radius: inherit;
	background-color: #ffffff15;
	border: 1px solid #ffffff25;
	margin: 0;
	width: 0;
	transition: width .2s;
}


.notification:focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	outline: none;
}



@media (1px <= width <= 700px) {
	.notification-center {
		--ui-notification-width: calc(100vw - var(--ui-notification-gap) * 2);
	}
}
