.toggle {
	--ui-toggle-size: 1.25em;
	display: inline-block;
	vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	overflow: hidden;
	width: calc(var(--ui-toggle-size) * 2.5);
	border: calc(var(--ui-toggle-size) / 15) solid var(--ui-color-text-dark-2);
	border-radius: var(--ui-border-radius-xl);
	background: var(--ui-color-background-input);
	padding: 1.5px;
}

.toggle[disabled] { pointer-events: none; opacity: 0.6; }

.toggle:focus {
	outline: none;
	box-shadow: var(--ui-shadow-focus);
	border-color: var(--ui-color-accent);
}

.toggle-input { display: none; }

.toggle-label {
	background: var(--ui-color-highlight);
	width: var(--ui-toggle-size);
	border-radius: inherit;
	cursor: inherit;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: width .1s cubic-bezier(.85, .05, .18, 1.4);
}

.toggle-handle {
	width: var(--ui-toggle-size);
	height: var(--ui-toggle-size);
	background: var(--ui-color-text-light-1);
	border: 1px solid var(--ui-color-text-light-2);
	display: block;
	border-radius: inherit;
	margin: 0 0 0 auto;
}
