.toggle {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	border: 1px solid #eee;
	border-radius: 25px;
	background: #333;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

.toggle[disabled] {
	pointer-events: none;
	opacity: 0.6;
}

.toggle:focus {
	outline: none;
	box-shadow: 0 0 2px 1px  var(--color-accent);
	border-color: var(--color-accent);
}


.toggle-input {
	display: none;
}

.toggle-label {
	background: var(--color-highlight);
	width: 24px;
	display: block;
	border-radius: inherit;
	cursor: inherit;
	transition: width .2s;
}

.toggle-handle {
	width: 24px;
	height: 24px;
	background: #eee;
	border: 1px solid #333;
	display: block;
	border-radius: inherit;
	margin: 0 0 0 auto;
}
