.toggle {
	--ui-toggle-size: 1.5em;
	display: inline-block;
	vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	overflow: hidden;
	width: calc(var(--ui-toggle-size) * 2.5);
	border: calc(var(--ui-toggle-size) / 15) solid var(--ui-color-text-dark-2);
	border-radius: var(--ui-border-radius-xl);
	background: var(--ui-color-background-input);
	padding: 1.5px;
}

.toggle:has(:disabled) { pointer-events: none; opacity: 0.6; }

.toggle:focus {
	outline: 1px solid transparent;
	box-shadow: var(--ui-shadow-focus);
	border-color: var(--ui-color-accent);
}

.toggle-input { display: none; }

.toggle-label {
	background: var(--ui-color-highlight);
	width: var(--ui-toggle-size);
	max-width: 200%;
	border-radius: inherit;
	cursor: inherit;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: width .1s cubic-bezier(.85, .05, .18, 1.4);
}

.toggle-handle {
	width: var(--ui-toggle-size);
	height: var(--ui-toggle-size);
	background: var(--ui-color-text-light-1);
	border: 1px solid var(--ui-color-text-light-2);
	display: block;
	border-radius: inherit;
	margin: 0 0 0 auto;
	position: relative;
}

.toggle-handle::before,
.toggle-handle::after {
	position: absolute;
	content: " ";
	width: calc(var(--ui-toggle-size) / 1.7647);
	height: calc(var(--ui-toggle-size) / 1.7647);
	background-size: calc(var(--ui-toggle-size) / 1.875);
	background-position: center;
	background-repeat: no-repeat;
	top: calc(var(--ui-toggle-size) / 6);
}

.toggle-handle::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 17.5714286 9.6 9.4285714 22.4-22' fill='none' stroke='%23fff' stroke-width='4'/%3E%3C/svg%3E");
	left: calc(var(--ui-toggle-size) / -1.15384615);
}

.toggle-handle::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m27.5352.4648-27.0704 27.0704m-.4648-27.5352 28 28' stroke='%23fff' stroke-width='4'/%3E%3C/svg%3E");
	margin: 1px -1px 0 0;
	right: calc(var(--ui-toggle-size) / -1.15384615);
}

.theme-light .toggle-handle::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 17.5714286 9.6 9.4285714 22.4-22' fill='none' stroke='%23000' stroke-width='4'/%3E%3C/svg%3E");
}

.theme-light .toggle-handle::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m27.5352.4648-27.0704 27.0704m-.4648-27.5352 28 28' stroke='%23000' stroke-width='4'/%3E%3C/svg%3E");
}
