.select-wrap {
	font: inherit;
	height: 2.2em;
	border: 1px solid transparent;
	background-color: var(--color-background-input);
	color: var(--color-text);
	transition: background-color var(--animation-speed) ease-out, border-color var(--animation-speed) ease-out, box-shadow var(--animation-speed) ease-out;
	border-radius: 0.3em;
	position: relative;
	display: inline-block;
}

.select-wrap:disabled { opacity: 0.5; }

.select-wrap:focus,
.select-wrap:focus-within {
	border-color: var(--color-accent);
	box-shadow: 0 0 2px 1px var(--color-accent);
	outline: 0;
}

.select-wrap:invalid {
	border-color: var(--color-danger);
	box-shadow: 0 0 2px 1px var(--color-danger);
	outline: 0;
}

.select-wrap:after {
	content: '';
	position: absolute;
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 0.6em 0.8em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23eeeeee' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

select {
	font: inherit;
	color: inherit;
	border: none;
	border-radius: 0.3em;
	background: none;
	background-color: inherit;
	line-height: 1.6;
	padding: 0.3em 2em 0.3em 0.5em;
	width: 100%;
	height: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

select:focus { outline: none; }

select :disabled { opacity: 0.5; }
