.select-wrapper {
	font: inherit;
	height: 2.2em;
	border: 1px solid transparent;
	background-color: var(--ui-color-background-input);
	color: var(--ui-color-text);
	border-radius: var(--ui-border-radius);
	position: relative;
	display: inline-block;
}

.select-wrapper.disabled { opacity: 0.7; cursor: default; }

.select-wrapper:focus,
.select-wrapper:focus-within {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	outline: 0;
}

.select-wrapper.invalid {
	border-color: var(--ui-color-danger);
	box-shadow: var(--ui-shadow-invalid);
	outline: 0;
}

.select-wrapper::after {
	content: "";
	position: absolute;
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.6;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 0.6em 0.8em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23aaa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

.select-wrapper select {
	font: inherit;
	color: inherit;
	border: none;
	background: none;
	background-color: inherit;
	line-height: 1.2;
	border-radius: var(--ui-border-radius);
	padding: var(--ui-margin) var(--ui-margin-xl) var(--ui-margin) var(--ui-margin-m);
	width: 100%;
	height: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.select-wrapper select:focus { outline: 1px solid transparent; }



.theme-light .select-wrapper::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23222' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}
