.input-password-wrapper {
	width: 25ch;
	position: relative;
	display: inline-flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;
	vertical-align: middle;
}
.input-password-row {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

.input-password-wrapper .input-password {
	font-family: verdana, sans-serif;
	width: 100%;
	padding-right: 28px;
}

.input-password-wrapper .input-password-row > .button {
	position: absolute;
	right: 5px;
	width: 22px;
	height: 22px;
}

.input-password-wrapper.visible .input-password { font-family: inherit; }


/* PASSWORD STRENGTH */
.password-strength {
	width: calc(100% - 6px);
	height: 3px;
	margin: -7px 3px 0;
	border-radius: 10px;
	background-color: var(--ui-color-background-input);
	cursor: default;
}

.password-strength-progress {
	height: 100%;
	border-radius: inherit;
	transition: width var(--ui-animation-speed) ease-out;
	background-color: var(--ui-color-danger);
}

.password-strength-progress.warning { background-color: var(--ui-color-warning); }
.password-strength-progress.info { background-color: var(--ui-color-info); }
.password-strength-progress.success { background-color: var(--ui-color-success); }


.password-strength-info {
	cursor: default;
	position: absolute;
	width: calc(100% - 2px);
	display: none;
	flex-flow: column;
	align-items: stretch;
	gap: 1em;
	font-size: 0.8em;
	margin: 3em 1px 0;
	padding: 1em;
	border-radius: 4px;
	background-color: var(--ui-color-background-input);
	border: 1px solid var(--ui-color-danger);
}

.input-password-wrapper:focus-within .password-strength-info { display: flex; }

.password-strength-info.warning { border-color: var(--ui-color-warning); }
.password-strength-info.info { border-color: var(--ui-color-info); }
.password-strength-info.success { border-color: var(--ui-color-success); }

.password-strength-info h2 { font-size: 1.1em; text-align: left; margin-bottom: 0; }
.password-strength-info small { font-size: 1em; margin: 0; }
.password-strength-info small:empty { display: none; }
