.splitter {
	position: absolute;
	height: 100%;
	width: 10px;
	z-index: 90;
	cursor: ew-resize;
}

.splitter.vertical {
	width: 100%;
	height: 10px;
	cursor: ns-resize;
}

.splitter.is-dragging,
.splitter:hover {
	background-color: var(--ui-color-background-light-2);
}
