.group {
	background: var(--ui-color-background-2);
	padding: 6px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 6px;
	border-radius: var(--ui-border-radius-m);
}

.palette-box {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: calc(var(--ui-border-radius-m) - 3px);
	background-color: var(--ui-color-background-2);
}
