main pre[class],
code {
	background-color: #1a1a1a;
	color: #ccc;
	border-radius: var(--ui-border-radius);
	font-size: 0.9rem;
}

code {
	display: block;
	width: 100%;
	padding: 1em;
	margin-block: 1em;
	line-height: 2;
	white-space: pre;
	overflow: auto;
}

code[class*=language-] { padding: 0; margin: 0; }
