main pre[class],
code {
	background-color: var(--ui-color-background-dark-2);
	border-radius: var(--ui-border-radius-s);
}

code {
	display: block;
	width: 100%;
	padding: 1em;
	margin-block: 1em;
	line-height: 2;
	white-space: pre;
	overflow: auto;
}

code[class*=language-] { padding: 0; margin: 0; }
