/* more styling defined in ../input.css  .check-and-radio {} */

.checkbox {
	display: inline-flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: 0.5rem;
}

.checkbox-row {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}


.checkbox input::after {
	content: "✕";
	height: 1cap;
	font-size: var(--ui-font-xl);
}


.checkbox.indeterminate input::after {
	content: " ";
	opacity: 1;
	background: var(--ui-color-text-1);
	width: 70%;
	height: 70%;
	border-radius: 0.2rem;
}

.checkbox input:checked::after { content: "✕"; opacity: 1; }


.checkbox:not(.disabled) .pressing input::after,
.pressing .checkbox:not(.disabled) input::after { content: "✕"; opacity: 0.5; }

.checkbox.disabled { opacity: 0.5; }
.checkbox.disabled input { opacity: 1; }


.checkbox.has-error input { border-color: var(--ui-color-danger); }
.ui-keyboard .checkbox.has-error input:focus {
	box-shadow: var(--ui-shadow-danger);
}

.checkbox.label-on-the-left .checkbox-row { flex-flow: row-reverse; }
