.input-text { width: 25ch; }

.input-text input { width: 100%; }
.input-text input:focus { box-shadow: none; border: none; }

.input-text-inner {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: stretch;
	border-radius: var(--ui-border-radius);
	border: 1px solid  transparent;
}

.has-error .input-text-inner  {
	border-color: var(--ui-color-danger);
	background-color: var(--ui-color-danger-semi);
	box-shadow: var(--ui-shadow-invalid);
}

.input-text-inner:focus-within {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
}


.input-error,
.input-info {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5rem;
	padding: 0.4rem;
}

.input-error p,
.input-info p { margin: 0; font-size: 0.9rem; line-height: 1.5rem; }

.input-error {
	margin: 0;
	border-top-left-radius: var(--ui-border-radius);
	border-top-right-radius: var(--ui-border-radius);
}

.input-info {
	margin: 0 0 0.75rem;
	background-color: var(--ui-color-info-semi);
	border-radius: var(--ui-border-radius);
	border: 1px solid var(--ui-color-info);
	box-shadow: 0 0 2px 1px var(--ui-color-info);
}
.input-info .icon { flex-shrink: 0; margin-top: 0.1rem; }
