assets/

docs/CNAME
docs/*.sketch
docs/*.svg
docs/*.html
docs/*.png
docs/*.css
docs/index*.js
docs/*.woff*
# keep only docs/zxcvbn.js

docs-src/
coverage/
tests/
.*
CHANGELOG.md
release.sh
screen.png
*.js
*config*.*
