html,
body {
	box-sizing: border-box;
	touch-action: none;
	height: 100%;
	width: 100%;
	margin: 0;
	font: normal 100% sans-serif;
	background-color: var(--ui-color-background);
	color: var(--ui-color-text);
}

body * { box-sizing: inherit; }

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
}

h2 { margin: 0; }
a { color: inherit; }

aside {
	padding: 1em 2em 4em 1em;
	border-right: 1px solid var(--ui-color-border-dark-2);
	height: 100%;
	overflow-y: auto;
}

main {
	flex: 1;
	padding: 2em 2em 10em;
	height: 100%;
	overflow-y: auto;
}

main > h2 { margin-bottom: 1.2em; }

p { line-height: 1.6; }
em { color: var(--ui-color-accent); font-style: normal; }

hr {
	width: 100%;
	height: 0;
	border: 0;
	border-top: 2px solid var(--ui-color-border-dark-2);
	margin: 3em 0 2em;
}

@media (max-width: 980px) {
	body { font: normal 200% sans-serif; }
	aside { padding: 2em 0.5em; }
}
