html,
body {
	box-sizing: border-box;
	touch-action: none;
	height: 100%;
	width: 100%;
	margin: 0;
	font: normal 100% sans-serif;
	background-color: var(--ui-color-background);
	color: var(--ui-color-text);
}

body * { box-sizing: inherit; }

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
}

h2 {
	margin: 0;
}

aside {
	padding: 2em;
	border-right: 1px solid var(--ui-color-border);
	height: 100%;
	overflow-y: auto;
}

main {
	flex: 1;
	padding: 2em 2em 10em;
	height: 100%;
	overflow-y: auto;
}

main > h2 {
	margin-bottom: 1.2em;
}

nav {
	width: 100%;
	display: flex;
	flex-flow: column;
	margin-top: 20px;
}

nav a {
	color: var(--ui-color-text);
	text-decoration: none;
	display: block;
	margin: 0 -10px;
	padding: 0.7em 1.2em;
	border-radius: 20px;
}
nav a:hover { background-color: var(--ui-color-background); }
nav a.active { background-color: var(--ui-color-highlight); }

p { line-height: 1.6; }


@media (max-width: 980px) {
	body { font: normal 200% sans-serif; }
	aside { padding: 2em 0.5em; }
}
