.icon-block {
	float: left;
	width: 128px;
	height: 128px;
	margin: 0 1em 1em 0;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: stretch;
	background-color: var(--ui-color-background-semi);
	padding: 0 10px 10px;
	border-radius: 5px;
	border: 1px solid var(--ui-color-border);
}

.icon-block-icon {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-block-icon svg {
	width: 32px;
	height: 32px;
}

.icon-block-name {
	height: 20px;
	text-align: center;
	overflow-wrap: break-word;
	font-size: 0.9em;
}
