.label {
	height: var(--ui-button-height);
	line-height: 1;
	padding: 0;
	display: inline-flex;
	align-items: center;
	touch-action: manipulation;
}

.label.disabled {
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

/* to offset input's border (visually) */
.input .label {
	padding-inline: 1px;
}


.label-on-the-left .label {
	padding-inline: 0;
	padding-top: 1px;
	width: max-content;
	white-space: nowrap;
}


.radio.label-on-the-left,
.input-tag.label-on-the-left,
.textarea.label-on-the-left {
	align-items: flex-start;
}

.radio.label-on-the-left>.label,
.input-tag.label-on-the-left .label,
.textarea.label-on-the-left .label {
	height: calc(var(--ui-button-height) + 2px);
}

.radio.label-on-the-left>.label {
	margin-block: var(--ui-margin-s);
}
