.label {
	height: var(--ui-button-height);
	line-height: 1.6;
	padding: 0;
	display: inline-flex;
	align-items: center;
}

.label.disabled {
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

/* to offset input's border (visually) */
.input .label { padding-inline: 1px; }
