.datepicker-wrapper {
	width: 25ch;
	position: relative;
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

.datepicker-wrapper > .icon {
	position: absolute;
	right: 5px;
	margin-top: -1px; /* calendar icon visually appears a bit lower, so moving it up */
	width: 22px;
	height: 22px;
	pointer-events: none;
	color: var(--ui-color-text-dark-1);
	z-index: 1;
	opacity: 0.6;
}

.datepicker-wrapper .datepicker-input { width: 100%; padding-right: 28px; }
.datepicker { display: none; }
.datepicker.active { display: block; }

.datepicker-dropdown {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding-top: 0.2em;
}

.datepicker-dropdown.datepicker-orient-top { padding-top: 0; padding-bottom: 4px; }

.datepicker-picker {
	display: inline-block;
	border-radius: 0.3em;
	background-color: var(--ui-color-background);
	overflow: hidden;
	box-shadow: var(--ui-shadow-small);
}


.datepicker-picker span {
	display: block;
	flex: 1;
	border: 0;
	border-radius: 6px;
	cursor: default;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.datepicker-main { padding: 0.1em; }


.datepicker-grid,
.datepicker-view .days-of-week,
.datepicker-view,
.datepicker-controls { display: flex; }

.datepicker-grid { flex-wrap: wrap; width: 15.75rem; }

.datepicker-cell,
.datepicker-view .week { height: 2.25rem; line-height: 2.25rem; }

.datepicker-view .days .datepicker-cell,
.datepicker-view .dow { flex-basis: 14.2857142857%; }

.datepicker-view.datepicker-grid .datepicker-cell { flex-basis: 25%; height: 4.5rem; line-height: 4.5rem; }


.datepicker-title { padding: 0.375rem 0.75rem; text-align: center; }

.datepicker-header,
.datepicker-footer { background-color: var(--ui-color-background-input); }

.datepicker-header .datepicker-controls,
.datepicker-footer .datepicker-controls { padding: 0.2em; }

.datepicker-controls .button {
	padding: 0;
	width: 2.5rem;
	min-width: 2.5rem;
	text-align: center;
}

.datepicker-controls .button svg { margin: 0; height: 1.4rem; }
.datepicker-controls .button.disabled { visibility: hidden; }

.datepicker-controls .button.view-switch { flex: auto; width: auto; }


.datepicker-footer .datepicker-controls .button { width: 100%; }

.datepicker-view .dow { height: 1.5rem; line-height: 1.5rem; font-size: 0.875rem; }
.datepicker-view .week { width: 2.25rem; font-size: 0.75rem; }

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) { color: var(--ui-color-background-light-2); }

.datepicker-cell.selected.prev:not(.disabled),
.datepicker-cell.selected.next:not(.disabled) { color: var(--ui-color-text-dark-1); }


.datepicker-cell.selected { background-color: var(--ui-color-highlight); color: var(--ui-color-text); }

.datepicker-cell.disabled { color: var(--ui-color-text-dark-1); }



/* today */
.datepicker-cell.today:not(.selected) { background-color: var(--ui-color-success); color: var(--ui-color-text); }


/* hover/focus */
.datepicker-cell.focused,
.datepicker-cell.today.focused,
.datepicker-cell.highlighted:not(.range,.disabled):hover,
.datepicker-cell.highlighted:not(.range).focused,
.datepicker-cell:not(.disabled):hover {
	background-color: var(--ui-color-info);
	color: var(--ui-color-text);
	cursor: pointer;
}


.datepicker-cell.range-start { border-radius: 4px 0 0 4px; }
.datepicker-cell.range-end { border-radius: 0 4px 4px 0; }
.datepicker-cell.range { border-radius: 0; background-color: #dbdbdb; }
.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) { background-color: #b5b5b5; color: #fff; }
.datepicker-cell.range-end.focused:not(.selected),
.datepicker-cell.range-start.focused:not(.selected) { background-color: #afafaf; }
.datepicker-cell.range:not(.disabled,.focused,.today):hover { background-color: #d5d5d5; }
.datepicker-cell.range.disabled { color: #c2c2c2; }
.datepicker-cell.range.focused { background-color: #cfcfcf; }




.theme-light .datepicker-cell.next:not(.disabled),
.theme-light .datepicker-cell.prev:not(.disabled) { color: var(--ui-color-background-dark-2); }
