.dialog-backdrop {
	position: fixed;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: rgba(0 0 0 / 0);
	transition: background-color var(--ui-animation-speed) ease-out;
	transform: translateZ(1px);
}

.dialog-backdrop.opened { background-color: rgba(0 0 0 / .6); }

.dialog {
	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity var(--ui-animation-speed) ease-out,
		transform var(--ui-animation-speed) ease-out;
	max-height: 90vh;
	min-width: 15rem;
	max-width: 95vw;
	color: var(--ui-color-text);
	border-radius: var(--ui-border-radius-m);
	background: var(--ui-popup-background);
	border: var(--ui-popup-border);
	box-shadow: var(--ui-shadow-large);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;
}

.opened .dialog { opacity: 1; transform: scale(1); }

.dialog-header,
.dialog-footer { background: var(--ui-color-background-input); }

.dialog-header {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0;
	padding: 0.4rem 1rem;
	border-bottom: 1px solid var(--ui-color-border);
}

.dialog-content {
	margin: 0;
	padding: 1rem;
	min-width: 200px;
	flex: 1;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	outline: 1px solid transparent;
	min-height: 3rem;
}

.dialog-content:focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus) inset;
	outline: 1px solid transparent;
}


.dialog-footer {
	border-top: 1px solid var(--ui-color-border);
	padding: 0.7rem 1rem;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.dialog-footer [slot="footer"] {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row-reverse;
	gap: 0.5rem;
}



.dialog-footer .button-has-text { min-width: 9ch; }

.dialog-header:empty { display: none; }


.mobile .dialog-backdrop .dialog {
	height: 100%;
	width: 100%;
	min-height: 0;
	min-width: 0;
	max-height: 100%;
	max-width: 100%;
	border-radius: 0;
	box-shadow: none;
}
