.has-dialog {
	position: fixed;
	width: 100%;
	inset: 0;
	overflow: hidden;
}

.dialog-backdrop {
	position: fixed;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: calc(var(--ui-z-index-popup) - 1);
	background-color: rgb(0 0 0 / 0);
	transition: all var(--ui-animation-speed) ease-out;
	transform: translateZ(1px);
}

.dialog-backdrop.opened {
	background-color: rgb(0 0 0 / .6);
	backdrop-filter: contrast(0.8) grayscale(0.5) brightness(0.8) blur(2px);
}


.dialog {
	--ui-dialog-border-radius: var(--ui-border-radius-m);
	--ui-dialog-inner-border-radius: calc(var(--ui-dialog-border-radius) - 1px);

	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity var(--ui-animation-speed) ease-out,
		transform var(--ui-animation-speed) ease-out;
	max-height: 90vh;
	min-width: 15rem;
	max-width: 95vw;
	color: var(--ui-color-text);
	border-radius: var(--ui-dialog-border-radius);
	background: var(--ui-popup-background);
	border: var(--ui-popup-border);
	box-shadow: var(--ui-shadow-large);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: stretch;
}

.opened .dialog { opacity: 1; transform: scale(1); }

.dialog-header,
.dialog-footer { background: var(--ui-color-background-input); padding: 0.7rem 1rem; }

.dialog-header {
	text-align: center;
	font-size: var(--ui-font-xl);
	font-weight: 300;
	margin: 0;
	border-bottom: 0.5px solid var(--ui-color-border);
}

.dialog-content {
	margin: 0;
	padding: 1rem;
	min-width: 200px;
	flex: 1;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	outline: 1px solid transparent;
	min-height: 3rem;
}

.dialog-content:focus { outline: none; }
.dialog-content:focus-visible {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus) inset;
}

.dialog-footer {
	border-top: 0.5px solid var(--ui-color-border);
	border-bottom-left-radius: var(--ui-dialog-inner-border-radius);
	border-bottom-right-radius: var(--ui-dialog-inner-border-radius);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row-reverse;
	gap: 0.5rem;
}

.dialog-footer .button-has-text { min-width: 9ch; }


.dialog-header,
.dialog.no-title .dialog-content {
	border-top-left-radius: var(--ui-dialog-inner-border-radius);
	border-top-right-radius: var(--ui-dialog-inner-border-radius);
}

.dialog-header:empty { display: none; }


.mobile .dialog-backdrop .dialog {
	min-height: 0;
	min-width: 0;
	max-height: 100%;
	max-width: 100%;
	box-shadow: none;
}
