.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: rgba(0 0 0 / 0);
	transition: background-color var(--ui-animation-speed) ease-out;
}

.dialog-backdrop.opened { background-color: rgba(0 0 0 / .6); }

.dialog {
	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity var(--ui-animation-speed) ease-out,
		transform var(--ui-animation-speed) ease-out;
	max-height: 90vh;
	min-width: 16em;
	max-width: 95vw;
	color: var(--ui-color-text);
	border-radius: var(--ui-popup-border-radius);
	border: var(--ui-popup-border);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-large);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;
}

.opened .dialog { opacity: 1; transform: scale(1); }

.dialog-header {
	text-align: center;
	font-size: 1.4em;
	font-weight: 400;
	margin: 0;
	padding: 0.4em 1em 0;
	background: var(--ui-color-background);
}

.dialog-content {
	padding: 1em;
	min-width: 200px;
	flex: 1;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	outline: none;
}

.dialog-footer [slot="footer"] {
	width: 100%;
	background: var(--ui-color-background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row-reverse;
	padding: 0.7em 1em;
	gap: 0.3em;
}

.draw-borders .dialog-header { border-bottom: var(--ui-popup-border); padding: 0.4em 0.5em; }
.draw-borders .dialog-footer { border-top: var(--ui-popup-border); }

.dialog-header:empty,
.dialog-footer:empty { display: none; }


.mobile .dialog-backdrop .dialog {
	height: 100%;
	width: 100%;
	min-height: 0;
	min-width: 0;
	max-height: 100%;
	max-width: 100%;
	border-radius: 0;
	box-shadow: none;
}
