.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: rgba(0 0 0 / 0);
	transition: background-color var(--ui-animation-speed) ease-out;
}

.dialog-backdrop.opened { background-color: rgba(0 0 0 / .6); }

.dialog {
	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity var(--ui-animation-speed) ease-out,
		transform var(--ui-animation-speed) ease-out;
	max-height: 90vh;
	min-width: 16em;
	max-width: 95vw;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	color: var(--ui-color-text);
	border-radius: var(--ui-popup-border-radius);
	border: var(--ui-popup-border);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-large);
}

.opened .dialog { opacity: 1; transform: scale(1); }

.dialog-header {
	position: sticky;
	top: 0;
	text-align: center;
	font-size: 18px;
	margin: 0;
	padding: 12px 20px 0;
	background: var(--ui-color-background);
}

.dialog-content { padding: 20px; min-width: 200px; }

.dialog-footer { position: sticky; bottom: 0; }
.dialog-footer [slot="footer"] {
	width: 100%;
	background: var(--ui-color-background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row-reverse;
	padding: 15px 20px;
}
.dialog-footer .button { margin: 0 10px; }

.draw-borders .dialog-header { border-bottom: var(--ui-popup-border); padding: 15px 20px; }
.draw-borders .dialog-footer { border-top: var(--ui-popup-border); }

.dialog-header:empty,
.dialog-footer:empty { display: none; }
