.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: rgba(0 0 0 / 0);
	transition: background-color var(--ui-animation-speed) ease-out;
}

.dialog-backdrop.visible {
	background-color: rgba(0 0 0 / .6);
}

.dialog {
	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity var(--ui-animation-speed) ease-out,
		transform var(--ui-animation-speed) ease-out;
	max-height: 90vh;
	max-width: 95vw;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	color: var(--ui-color-text);
	border-radius: var(--ui-popup-border-radius);
	border: var(--ui-popup-border);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-large);
}

.visible .dialog {
	opacity: 1;
	transform: scale(1);
}

.dialog h1 {
	position: sticky;
	top: 0;
	font-size: 18px;
	margin: 0;
	padding: 12px 20px 10px;
	background: var(--ui-color-background);
	border-bottom: var(--ui-popup-border);
}

.dialog h1:empty {
	display: none;
}

.dialog-content {
	padding: 20px 20px 0;
	min-width: 200px;
}

.dialog .buttons {
	position: sticky;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row-reverse;
	margin: 20px -20px 0;
	padding: 15px;
	background: var(--ui-color-background);
	border-top: var(--ui-popup-border);
}


.dialog .buttons .button {
	margin-left: 10px;
}
