.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: rgba(0,0,0,0);
	transition: background-color .3s ease-out;
}
.modal-backdrop.visible { background-color: rgba(0,0,0,.6); }

.modal {
	background: #333;
	border-radius: 3px;
	margin-top: -100px;
	opacity: 0;
	transform: scale(0.8);
	transition: opacity .3s ease-out, transform .3s ease-out;
	color: #eee;
}
.visible .modal { opacity: 1; transform: scale(1); }

.modal h1 { font-size: 18px; margin: 0 0 10px; padding: 12px 20px 10px; border-bottom: 1px solid #111; }
.modal h1:empty { display: none }
.modal-content { padding: 20px; }
