.input-search input {
	padding-left: calc(2rem + 6px);
	padding-right: 2rem;
	appearance: none;
}
::-webkit-search-cancel-button { display: none; }

.input-search .input-row>.icon { top: 1px; }

.input-search-button { display: none; }
.input-search-button.visible { display: inline-flex; }
