.input-math-wrapper {
	width: 25ch;
	position: relative;
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	vertical-align: middle;
}

.input-math-wrapper .icon {
	position: absolute;
	left: 7px;
	width: 1.5rem;
	height: 1.5rem;
	pointer-events: none;
	color: var(--ui-color-text-dark-2);
	z-index: 1;
}
.input-math-wrapper svg { width: 100%; height: 100%; }
.theme-light .input-math-wrapper > .icon { color: var(--ui-color-text-light-2); }

.input-math-wrapper .input-math {
	width: 100%;
	padding-left: 30px;
	text-align: right;
	-moz-appearance: textfield;
}

.input-math::-webkit-inner-spin-button,
.input-math::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
