.button-group {
	padding: 0 0 1px;
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: stretch;
	border-radius: var(--ui-border-radius);
	--button-border-radius: calc(var(--ui-border-radius) - 1px)
}

.button-group .button {
	flex-shrink: 0;
	flex-grow: 10;
	border-radius: 0;
	position: relative;
	overflow: hidden;
}

.button-group .button-normal[disabled] { box-shadow: var(--ui-shadow-button); }

.button-group .button:first-of-type {
	border-top-left-radius: var(--button-border-radius);
	border-bottom-left-radius: var(--button-border-radius);
}

.button-group .button:last-of-type {
	border-top-right-radius: var(--button-border-radius);
	border-bottom-right-radius: var(--button-border-radius);
}

.button-group .button-outline:not(:first-of-type) { margin-left: -2px; }


.button-group.round { border-radius: var(--ui-border-radius-xl); }

.button-group.round .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius-xl);
	border-bottom-left-radius: var(--ui-border-radius-xl);
}

.button-group.round .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius-xl);
	border-bottom-right-radius: var(--ui-border-radius-xl);
}


.button-group .button:not(.button-has-text):first-of-type { padding-left: 9px; }
.button-group .button:not(.button-has-text):last-of-type { padding-right: 9px; }
.button-group.round .button:not(.button-has-text):first-of-type { padding-right: 6px; padding-left: 11px; }
.button-group.round .button:not(.button-has-text):last-of-type { padding-left: 6px; padding-right: 11px; }
