.button-group {
	border-radius: var(--ui-border-radius);
	max-width: 100%;
	overflow: hidden;
}

.button-group-scroller {
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	overscroll-behavior-x: contain;
	scrollbar-width: none;
	scrollbar-gutter: none;
	z-index: 0;
	border-radius: var(--ui-border-radius);
}

.button-group-scroller::-webkit-scrollbar { width: 0; height: 0; }


.button-group-inner {
	padding: 0 0 2px;
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: stretch;
	position: relative;
	z-index: 1;
	border-radius: var(--ui-border-radius);
	background-color: var(--ui-color-background);
}

.button-group-inner .button {
	flex-shrink: 0;
	flex-grow: 10;
	border-radius: 0;
	position: relative;
	overflow: hidden;
}

.button-group .button-normal[disabled] { box-shadow: var(--ui-shadow-button); }

.button-group .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius);
	border-bottom-left-radius: var(--ui-border-radius);
}

.button-group .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius);
	border-bottom-right-radius: var(--ui-border-radius);
}

.button-group .button-outline:not(:first-of-type) { margin-left: -2px; }


.button-group.round { border-radius: var(--ui-border-radius-xl); }

.button-group.round .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius-xl);
	border-bottom-left-radius: var(--ui-border-radius-xl);
}

.button-group.round .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius-xl);
	border-bottom-right-radius: var(--ui-border-radius-xl);
}


.button-group .button:not(.button-has-text):first-of-type { padding-left: 9px; }
.button-group .button:not(.button-has-text):last-of-type { padding-right: 9px; }
.button-group.round .button:not(.button-has-text):first-of-type { padding-right: 6px; padding-left: 11px; }
.button-group.round .button:not(.button-has-text):last-of-type { padding-left: 6px; padding-right: 11px; }
