.button-group {
	padding: 1px;
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: stretch;
	border-radius: var(--ui-border-radius);
}

.button-group .button {
	flex-shrink: 0;
	flex-grow: 10;
	border-radius: 0;
	position: relative;
	overflow: hidden;
}

.button-group .button[disabled] { box-shadow: var(--ui-shadow-button); }

.button-group .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius);
	border-bottom-left-radius: var(--ui-border-radius);
}

.button-group .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius);
	border-bottom-right-radius: var(--ui-border-radius);
}



.button-group.round { border-radius: var(--ui-border-radius-xl); }

.button-group.round .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius-xl);
	border-bottom-left-radius: var(--ui-border-radius-xl);
}

.button-group.round .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius-xl);
	border-bottom-right-radius: var(--ui-border-radius-xl);
}
