.tooltip-container {
	z-index: 9999;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	transform: translateZ(1px);
	--ui-tooltip-color: var(--ui-color-info);
}

.tooltip-plate {
	--tip-height: 8px;
	--tip-width: 12px;
	position: absolute;
	font-size: 0.9em;
	padding-bottom: var(--tip-height);
	filter:
		drop-shadow(0 0 1px #000)
		drop-shadow(0 1px 5px rgb(0 0 0 / 0.3))
		drop-shadow(0 4px 10px rgb(0 0 0 / 0.1));
}

.tooltip {
	background-color: var(--ui-tooltip-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui-border-radius-s);
	position: relative;
}

.tooltip-content { padding: 0.75em; text-align: center; }

.tooltip::after {
	content: "";
	display: block;
	position: absolute;
	background-color: inherit;
	height: var(--tip-height);
	width: var(--tip-width);
	bottom: calc(var(--tip-height) * -1);
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


.tooltip-bottom { padding-bottom: 0; padding-top: var(--tip-height); }
.tooltip-bottom .tooltip::after {
	bottom: auto;
	top: calc(var(--tip-height) * -1);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.theme-dark .tooltip { text-shadow: 0 1px 1px rgb(0 0 0 / 0.3); }

.success .tooltip { --ui-tooltip-color: var(--ui-color-success); }
.danger .tooltip { --ui-tooltip-color: var(--ui-color-danger); }
.warning .tooltip { --ui-tooltip-color: var(--ui-color-warning); }
