.tooltip-plate {
	--popover-tip-size: 10px;
	--popover-color: #292929;
}

.tooltip { border-radius: 5px; max-width: 75vw; }


/* COLOR VARIATIONS */
.info    .tooltip { --popover-color: var(--ui-color-info); }
.success .tooltip { --popover-color: var(--ui-color-success); }
.danger  .tooltip { --popover-color: var(--ui-color-danger); }
.warning .tooltip { --popover-color: var(--ui-color-warning); }


.tooltip .tooltip-content {
	padding: 0.5rem 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.tooltip .tooltip-content .tooltip-text { padding: 0.2rem 0.4rem; }
