.tooltip-plate {
	--popover-tip-size: 10px;
	--popover-color: #292929;
}

.tooltip { border-radius: 5px; }
.tooltip-content { padding: 0.5rem 0.7rem; }

/* COLOR VARIATIONS */
.info    .tooltip { --popover-color: var(--ui-color-info); }
.success .tooltip { --popover-color: var(--ui-color-success); }
.danger  .tooltip { --popover-color: var(--ui-color-danger); }
.warning .tooltip { --popover-color: var(--ui-color-warning); }
