.panel {
	overflow: hidden;
	will-change: height;
	position: relative;
	border: 2px solid var(--ui-color-border);
	background: var(--ui-color-background-2);
	margin-bottom: 1rem;
	transition: height var(--ui-animation-speed) ease-out;
}


.panel-header {
	color: var(--ui-color-text);
	text-align: left;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 300;
	font-size: var(--ui-font-m);
	padding: 0 0.6rem 0 1rem;
	height: 2.5rem;
	line-height: 1;
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
}

.collapsible .panel-header { cursor: pointer; }

.panel-header::-webkit-details-marker { display: none; }


.panel-content { background: var(--ui-color-background); padding: 1rem; }
.panel-content > * { opacity: 0; transition: opacity var(--ui-animation-speed) ease-out; }
.panel.expanded .panel-content > * { opacity: 1; }


.panel .chevron {
	height: 1.2rem;
	transform: rotate(0deg);
	transition: transform var(--ui-animation-speed) ease-out;
}
.panel .chevron svg { width: 1.2rem; height: 1.2rem; }
.panel.expanded .chevron { transform: rotate(90deg); }



.panel.round { border-radius: var(--ui-border-radius); }
.panel.round .panel-content { border-radius: calc(var(--ui-border-radius) - 2px); }


.panel.disabled { opacity: 0.5; }



.panel.info {
	border-color: var(--ui-color-info);
	background: var(--ui-color-info-semi);
}
.panel.success {
	border-color: var(--ui-color-success);
	background: var(--ui-color-success-semi);
}
.panel.warning {
	border-color: var(--ui-color-warning);
	background: var(--ui-color-warning-semi);
}
.panel.danger {
	border-color: var(--ui-color-danger);
	background: var(--ui-color-danger-semi);
}



.ui-keyboard .panel:has(.panel-header:focus) {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	z-index: 2;
}

.ui-keyboard .panel.danger:has(.panel-header:focus) {
	border-color: var(--ui-color-danger);
	box-shadow: var(--ui-shadow-danger);
}
