.docs-header  {
	background-color: var(--ui-color-background-semi);
	margin: 0 -2rem 1rem;
	padding: 0 2rem;
	height: calc(var(--ui-button-height) + 1rem);
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	border-bottom: 1px solid var(--ui-color-border-2);
	position: sticky;
	top: 0;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	z-index: 8;
}
.dark-mode-switch { min-width: 7rem; }


.header-links {
	display: flex;
	align-items: center;
	gap: 1.4rem;
	margin: 0;
	height: 2rem;
}

.header-links a,
.header-links a:hover {
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.header-links a svg { height: 2rem; width: 2rem; margin: 0; }
.header-links a.npm svg { width: 5rem; }

.header-links .pt div {
	width: calc(2rem - 2px);
	height: calc(2rem - 2px);
	border-radius: 25px;
	margin: 0;
	background-color: var(--ui-color-text-semi);
}


.header-links .pt div,
.header-links .gh-outline,
.header-links .npm-outline { color: var(--ui-color-text-semi); transition: all 0.3s ease; }
.header-links .npm-fill { color: transparent; transition: all 0.3s ease; }

.header-links a:hover .npm-outline { color: #CB3837; }
.header-links a:hover .npm-fill { color: var(--ui-color-text); }

.header-links a:hover .gh-outline { color: var(--ui-color-text); }
.header-links a.pt:hover div { background-color: var(--ui-color-text); }


@media (1px <= width <= 700px) {
	.docs-header { padding-left: 4.2rem; padding-right: 0.6rem; }
	.header-links { gap: 0.6rem; }
}
