.div {
	border: 1px dashed red;
	height: 100px;
	width: 200px;
	display: inline-grid;
	place-items: center;
	margin: 1rem 1rem 1rem 0;
	-webkit-user-select: none;
	user-select: none;
}


.docs-menu-align-right {
	padding: 2rem 0;
	border: 1px dashed var(--ui-color-accent);
	text-align: right;
}
