.button-toggle.input {
	width: min-content;
	min-width: 25ch;
	padding: 0;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.button-toggle .input-inner {
	width: 100%;
	background-color: var(--ui-color-background-input);
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
	z-index: 3;
}

.button-toggle .input-row { gap: 1px; }

.button-toggle .input-row .button {
	position: static;
	color: var(--ui-color-text);
	box-shadow: none;
	min-height: calc(var(--ui-button-height) - 2px);
	background: var(--ui-color-background-input);
	border: none;
}

.button-toggle .button input {
	position: absolute;
	top: -100px;
	opacity: 0;
	pointer-events: none;
}

.button-toggle .button:has(:checked) { background-color: var(--ui-color-highlight); }

.button-toggle.round:not(.has-error) .input-inner { border-radius: var(--ui-border-radius-xl); }
