.context-menu {
	position: absolute;
	padding: 5px 0;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	list-style: none;
	z-index: 20;
	background: var(--color-background);
	color: var(--color-text);
	border-radius: 3px;
	overflow: hidden;
	cursor: default;
	box-shadow:
		0 4px 8px rgba(0,0,0, 0.4),
		0 0 0 0.5px rgba(0,0,0, 0.5);
}

.context-menu.hidden { display: none; }

.context-menu-item {
	padding: 10px 15px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.context-menu-item:hover { background-color:  var(--color-highlight); }

.context-menu-separator {
	height: 0;
	margin: 5px 0;
	padding: 0;
	border-bottom: 0.5px solid var(--color-border);
}
