.menu {
	position: fixed;
	padding: 0.2em 0.25em;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	list-style: none;
	overflow: hidden;
	cursor: default;
	z-index: 999;
	-webkit-user-select: none;
	user-select: none;

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: var(--ui-popup-border-radius);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-popup-shadow);
	transform: translateZ(1px);
}


.menu.hidden { display: none; }

.menu-item {
	padding: 0.1em 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-item svg { width: 1.3em; height: 1.3em; margin: -0.1em 0.5em -0.1em 0; }

.menu-item-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2em;
}

.menu-item-shortcut { margin: -0.1em 0 -0.1em auto; letter-spacing: 0.1em; opacity: 0.5; }

.menu-item-shortcut:empty { visibility: hidden; }

.menu-separator {
	height: 0;
	padding: 0;
	margin: var(--ui-margin) 0.6em;
	border-bottom: var(--ui-popup-border);
}


.menu-button {
	font-size: 0.86em;
	border: 0;
	margin: 0;
	background: none;
	color: inherit;
	width: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.6em 1em;
	border-radius: var(--ui-border-radius);
}

.menu-button:focus-within,
.menu-button:focus {
	background-color: var(--ui-color-highlight);
	outline: 1px solid transparent;
}

.menu-button:focus .menu-item-shortcut { opacity: 1; }


.mobile .menu-button { padding: 1em; }


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.menu {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
