.menu {
	position: fixed;
	padding: 0.0626em 0.25em;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	list-style: none;
	overflow: hidden;
	cursor: default;
	z-index: 999;

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: var(--ui-popup-border-radius);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-popup-shadow);
}

.menu.hidden { display: none; }

.menu-item {
	padding: 0.1em 0;
	margin: 2px 0;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-item svg {
	width: 1.3em;
	height: 1.3em;
	margin: -0.1em 0.727em -0.1em 0;
}

.menu-button {
	font-size: 0.86em;
	border: 0;
	margin: 0;
	background: none;
	color: inherit;
	width: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.3637em 0.727em;
	border-radius: var(--ui-border-radius);
}

.menu-button:focus { outline: none; }
.menu-button:focus,
.menu-button:hover { background-color: var(--ui-color-highlight); }

.menu-separator {
	height: 0;
	padding: 0;
	margin: var(--ui-margin) var(--ui-margin-m);
	border-bottom: var(--ui-popup-border);
}
