.menu {
	position: absolute;
	padding: 0.25rem;
	margin: 0;
	display: flex;
	width: auto;
	flex-flow: column;
	align-items: stretch;
	list-style: none;
	overflow: hidden auto;
	cursor: default;
	z-index: var(--ui-z-index-popup);
	max-height: calc(100vh - 4px);
	-webkit-user-select: none;
	user-select: none;
	overscroll-behavior-y: contain;

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: calc(var(--ui-border-radius) + 2px);
	box-shadow: var(--ui-shadow-fancy);
	transform: translateZ(1px);
	background: var(--ui-popup-background-semi);
	backdrop-filter: blur(30px);
}

.menu:focus { outline: none; }
