.menu {
	position: absolute;
	padding: 0.25rem;
	margin: 0;
	display: flex;
	width: auto;
	flex-flow: column;
	align-items: stretch;
	list-style: none;
	overflow: hidden auto;
	cursor: default;
	z-index: var(--ui-z-index-popup);
	max-height: calc(100vh - 4px);
	-webkit-user-select: none;
	user-select: none;
	overscroll-behavior-y: contain;

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: calc(var(--ui-border-radius) + 2px);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-fancy);
	transform: translateZ(1px);
}

.menu:focus { outline: none; }


.menu-item {
	font: inherit;
	font-size: var(--ui-font-s);
	align-items: center;
	border-radius: var(--ui-border-radius);
	color: inherit;
	background: none;
	border: none;
	display: flex;
	flex-shrink: 0;
	letter-spacing: 0.1px;
	justify-content: space-between;
	margin: 0;
	overflow: hidden;
	padding: 0.5rem 0.9rem;
	position: relative;
	text-align: left;
	white-space: nowrap;
	width: 100%;
}

.menu-item-shortcut {
	margin: -0.1rem 0 -0.1rem auto;
	letter-spacing: 0.1rem;
	line-height: 1.35;
	opacity: 0.5;
}
.menu-item-shortcut:empty { visibility: hidden; }

.menu-item.disabled { pointer-events: none; opacity: 0.6; }

.menu-item:focus { background-color: var(--ui-color-highlight); outline: 1px solid transparent; }

.menu-item:focus.success { background-color: var(--ui-color-success); }
.menu-item:focus.warning { background-color: var(--ui-color-warning); }
.menu-item:focus.danger { background-color: var(--ui-color-danger); }

.menu-item:focus .menu-item-shortcut { opacity: 1; }

.menu-item svg { width: 1.1rem; height: 1.1rem; margin: 0 0.5rem 0 0; }

.menu-item-content {
	display: flex;
	min-width: 0;
	align-items: center;
	justify-content: space-between;
	margin-right: 1rem;
}

.menu-item-text {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.35;
}


.menu-separator {
	height: 0;
	width: auto;
	padding: 0;
	margin: var(--ui-margin) 0.8rem;
	border-bottom: var(--ui-popup-border);
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.menu {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
