.menu {
	position: fixed;
	padding: 0.2rem 0.25rem;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
	cursor: default;
	z-index: 999;
	max-height: calc(100vh - 4px);
	-webkit-user-select: none;
	user-select: none;
	overscroll-behavior-y: contain;

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: calc(var(--ui-border-radius) + 2px);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-fancy);
	transform: translateZ(1px);
}

.menu:focus { outline: none; }


.menu-item {
	flex-shrink: 0;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-item svg { width: 1.1rem; height: 1.1rem; margin: -0.1rem 0.5rem -0.1rem 0; }

.menu-item-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2rem;
}

.menu-item-shortcut { margin: -0.1rem 0 -0.1rem auto; letter-spacing: 0.1rem; opacity: 0.5; }

.menu-item-shortcut:empty { visibility: hidden; }

.menu-separator {
	height: 0;
	padding: 0;
	margin: var(--ui-margin) 0.6rem;
	border-bottom: var(--ui-popup-border);
}


.menu-button {
	font-size: 0.86rem;
	border: 0;
	margin: 0;
	background: none;
	color: inherit;
	width: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.6rem 0.9rem;
	border-radius: var(--ui-border-radius);
}

.menu-button:disabled { pointer-events: none; opacity: 0.6; }


.menu-button.active { background-color: var(--ui-color-highlight); outline: 1px solid transparent; }
.menu-button.active .menu-item-shortcut { opacity: 1; }
.menu-button.active.success { background-color: var(--ui-color-success); }
.menu-button.active.warning { background-color: var(--ui-color-warning); }
.menu-button.active.danger { background-color: var(--ui-color-danger); }



@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.menu {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
