.drawer {
	position: fixed;
	background-color: var(--ui-popup-background);
	border-left: var(--ui-popup-border);
	top: 0;
	right: 0;
	bottom: 0;
	width: 24rem;
	min-height: 20rem;
	box-shadow: var(--ui-shadow-large);
	z-index: 11;
	color: var(--ui-color-text);
	padding: 0;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	transform: translateZ(1px);
}

.drawer:focus { outline: 1px solid transparent; }

.drawer-header {
	position: sticky;
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	position: -webkit-sticky;
	background-color: inherit;
	top: 0;
	width: 100%;
	margin: 0 0 1rem;
	padding: 0 1rem 0 1.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.drawer-header h2 { margin: 0; padding: 0.5rem 0; }

.drawer-content { padding: 0 1.4rem; }
