.drawer {
	position: fixed;
	background-color: var(--ui-color-background-dark-1);
	border-left: var(--ui-popup-border);
	top: 0;
	right: 0;
	bottom: 0;
	width: 24em;
	min-height: 20em;
	box-shadow: var(--ui-shadow-large);
	z-index: 11;
	color: var(--ui-color-text);
	padding: 0;
	overflow-y: auto;
	overscroll-behavior-y: contain;
}

.drawer:focus { outline: 1px solid transparent; }

.drawer-header {
	position: sticky;
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	position: -webkit-sticky;
	background-color: inherit;
	top: 0;
	width: 100%;
	margin: 0 0 -1px;
	padding: 0 1em 0 1.4em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.drawer-content { padding: 0 1.4em; }
