.drawer {
	position: fixed;
	background-color: var(--ui-color-background-light-2);
	top: 0;
	right: 0;
	bottom: 0;
	width: 24em;
	min-height: 20em;
	box-shadow: var(--ui-shadow-large);
	z-index: 11;
	color: var(--ui-color-text);
	padding: 0;
	overflow-y: auto;
	overscroll-behavior-y: contain;
}

.drawer:focus { outline: none; }

.drawer .btn-close { max-width: 1.4em; }

.drawer-header {
	position: sticky;
	position: -webkit-sticky;
	background-color: inherit;
	top: 0;
	width: 100%;
	margin: 0 0 -1px;
	padding: 0 1em 0 1.4em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.drawer-content {
	padding: 0 1.4em;
}
