.drawer {
	position: fixed;
	background-color: var(--color-background-alt);
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	min-height: 300px;
	box-shadow: -2px 0 5px #0008;
	z-index: 11;
	color: var(--color-text);
	padding: 0;
	overflow-y: auto;
	overscroll-behavior-y: contain;
}

.drawer:focus { outline: none; }

.drawer	.btn-close { max-width: 32px; }

.drawer-header {
	position: sticky;
	position: -webkit-sticky;
	background-color: var(--color-background-alt);
	top: 0;
	width: 100%;
	margin: 0 0 -1px;
	padding: 0 10px 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.drawer-content {
	padding: 0 15px;
}
