.autocomplete .input-inner { position: relative; }

.autocomplete input { padding-right: 36px; }

.autocomplete-list {
	position: absolute;
	z-index: 100;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	padding: 0.2rem 0.2rem 0.3rem;
	min-height: 0;
	max-height: 26rem;
	-webkit-user-select: none;
	user-select: none;
	transform: translateZ(1px);

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: var(--ui-border-radius);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-fancy);
}

.autocomplete-list:empty { padding: 0; box-shadow: none; border: none; }
.autocomplete-list:not(:empty) { min-height: 2rem; }
.autocomplete-list.hidden { display: none; }

.autocomplete-list-header {
	padding: 1rem 1rem 0.5rem;
	margin: 0;
	color: var(--ui-color-text-semi);
	line-height: 1;
	font-weight: 600;
	cursor: default;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.autocomplete-list-header:last-child { display: none; }

.autocomplete-list-empty {
	padding: 0.6rem 1.2rem;
	color: var(--ui-color-text-semi);
	cursor: default;
	white-space: nowrap;
}

.autocomplete-list-item {
	padding: 0.5rem 1rem;
	color: var(--ui-color-text);
	cursor: pointer;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	border-radius: var(--ui-border-radius);
}

.autocomplete-list-item.in-group {
	padding-left: 2rem;
}

.autocomplete-list-item.selected {
	background-color: var(--ui-color-highlight-dark-2);
	outline: 1px solid transparent;
}
.autocomplete-list-item:hover {
	background-color: var(--ui-color-highlight);
	outline: 1px solid transparent;
}

.autocomplete-list-item b {
	color: var(--ui-color-accent);
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.autocomplete-list {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
