.message-box .dialog-content { font-size: 1.1rem; padding: 1rem; }

.message-box .dialog-content .message { max-width: 50vw; display: flex; align-items: center; }
.message-box .dialog-content .message-content { margin: 0; line-height: 1.5; }

.message-box .dialog-content svg,
.message-box .dialog-content .icon { height: 3rem; }

.message-box .dialog-content .icon {
	width: 3rem;
	flex-shrink: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message-info    .dialog-content { background-color: var(--ui-color-info-semi); }
.message-warning .dialog-content { background-color: var(--ui-color-warning-semi); }
.message-error   .dialog-content { background-color: var(--ui-color-danger-semi); }
.message-success .dialog-content { background-color: var(--ui-color-success-semi); }
