.button-toggle {
	padding: 1px;
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: stretch;
	border-radius: var(--ui-border-radius);
}

.button-toggle.round { border-radius: var(--ui-border-radius-xl); }

.button-toggle:focus-within { border-color: var(--ui-color-accent); box-shadow: var(--ui-shadow-focus); }


.button-toggle .button {
	flex-shrink: 0;
	flex-grow: 10;
	border-radius: 0;
	position: relative;
	background: var(--ui-color-background-input);
	box-shadow: none;
	overflow: hidden;
}

.button-toggle .button input { position: absolute; top: -100%; opacity: 0; }

.button-toggle .selected { background-color: var(--ui-color-highlight); }

.button-toggle .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius);
	border-bottom-left-radius: var(--ui-border-radius);
}

.button-toggle .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius);
	border-bottom-right-radius: var(--ui-border-radius);
}

.button-toggle.round .button:first-of-type {
	border-top-left-radius: var(--ui-border-radius-xl);
	border-bottom-left-radius: var(--ui-border-radius-xl);
}

.button-toggle.round .button:last-of-type {
	border-top-right-radius: var(--ui-border-radius-xl);
	border-bottom-right-radius: var(--ui-border-radius-xl);
}
