.input-tag .input-inner { touch-action: manipulation; }
.input-tag .input-inner:focus { outline: none; }
.input-tag .input-inner[aria-expanded="true"] {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
}


.input-tag .input-row {
	min-height: calc(var(--ui-button-height) - 2px);
	padding: 4px 0.3rem 3px;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.2rem;
	flex-wrap: wrap;
}

.input-tag .input-row > .icon { position: static; flex-shrink: 0; margin-top: 0.14rem; }

.input-tag .ui-tag { height: 1.7rem; }

.input-tag-popover { width: 25ch; }
.input-tag-popover .popover-content { padding: 0.5rem; }

.input-tag-list-tags {
	display: flex;
	flex-flow: row wrap;
	gap: 0.2rem;
	flex: 1;
	max-height: 10rem;
	overflow-y: auto;
}

.input-tag-list-add-row { display: flex; align-items: center; gap: 0.5rem; }
.input-tag-list-add-row .input { width: 100px; flex: 1; }
.input-tag-list-add-row .input input { background: var(--ui-color-background-semi); }


.input-tag-list-tags:not(:empty) {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: var(--ui-popup-border);
}
