.table-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
	overscroll-behavior-y: contain;
}

.table {
	border: 2px solid var(--ui-color-border);
	border-spacing: 0;
	width: 100%;
}


.table thead,
.table tfoot { position: sticky; }
.table thead { top: 0; }
.table tfoot { bottom: 0; }

.table thead th,
.table tfoot td {
	padding: var(--ui-margin-m);
	font-weight: 400;
	text-align: left;
	vertical-align: middle;
	background: var(--ui-color-background-dark-1);
}

.table tr:hover,
.table .row-group:focus-within,
.table .row-group:hover { background-color: var(--ui-color-highlight-dark-2); }
.table .row-group tr:hover { background-color: transparent; }

.table tbody td {
	padding: var(--ui-margin) var(--ui-margin-m);
	border-bottom: 1px solid var(--ui-color-border);
	vertical-align: middle;
	line-height: 1.5em;
}

.table th:first-child,
.table td:first-child { padding-left: var(--ui-margin-l); }

.table th:last-child,
.table td:last-child { padding-right: var(--ui-margin-l); }
