.table-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.table { border-spacing: 0; width: 100%; }

.table thead,
.table tfoot {
	position: sticky;
	background-color: var(--color-highlight);
}
.table thead { top: 0; }
.table tfoot { bottom: 0; }

.table th,
.table td {
	text-align: left;
	padding: 5px 10px;
	border: 0.5px solid var(--color-border);
}

.table th,
.table tfoot td {	padding: 10px; }
