.table-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
	overscroll-behavior-y: contain;
}

.table-wrapper.selectable { cursor: default; -webkit-user-select: none; user-select: none; }
.table {
	border: 2px solid var(--ui-color-border);
	border-spacing: 0;
	width: 100%;
	cursor: default;
	/* this enables table scrolling to be gpu accelerated */
	/* and helps with the performance with large numbers of rows */
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.table thead,
.table tfoot { position: sticky; z-index: 2; }
.table thead { top: 0; }
.table tfoot { bottom: 0; }

.table thead th,
.table tfoot td {
	padding: var(--ui-margin-m);
	font-weight: 400;
	text-align: left;
	vertical-align: middle;
	background: var(--ui-color-background-dark-1);
}

.table tbody:focus,
.table tr:focus-within,
.table tr:focus {
	outline: 1px solid transparent;
	background-color: var(--ui-color-highlight-dark-2);
}

.table tbody td {
	padding: var(--ui-margin) var(--ui-margin-m) calc(var(--ui-margin) + 1px);
	border-bottom: 1px solid var(--ui-color-border);
	vertical-align: middle;
	line-height: 1.5em;
}

.table th:first-child,
.table td:first-child { padding-left: var(--ui-margin-l); }

.table th:last-child,
.table td:last-child { padding-right: var(--ui-margin-l); }
