.textarea {
	position: relative;
	width: 25ch;
	vertical-align: top;
	display: inline-grid;
	align-items: stretch;
}

.textarea.autogrow::after,
.textarea-input {
	font: inherit;
	line-height: 1.6;
	border: 1px solid transparent;
	margin: 0;
	width: auto;
	padding: var(--ui-margin-m);
	grid-area: 1 / 1 / 2 / 2;
}

.textarea-input::placeholder { color: var(--ui-color-text-dark-2); }
.theme-light .textarea-input::placeholder { color: var(--ui-color-text-light-2); }


.textarea.autogrow::after {
	content: attr(data-value) " ";
	visibility: hidden;
	white-space: pre-wrap;
	min-width: 1rem;
	resize: none;
	background: none;
	appearance: none;
}

.textarea-input {
	resize: vertical;
	height: auto;
	color: var(--ui-color-text);
	background-color: var(--ui-color-background-input);
	border-radius: var(--ui-border-radius);
}
.textarea-input:focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	outline: 0;
}

.textarea-input:invalid {
	border-color: var(--ui-color-danger);
	box-shadow: var(--ui-shadow-invalid);
	outline: 0;
}

.textarea-input:disabled { opacity: 0.5; }

.textarea.autogrow .textarea-input { resize: none; }
