.combobox .input-inner { position: relative; }

.combobox input { padding-right: 36px; }

.combobox-button:focus { box-shadow: none; }

.combobox-list {
	position: absolute;
	z-index: 100;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	padding: 0.2rem 0.2rem 0.3rem;
	min-height: 0;
	max-height: 26rem;
	-webkit-user-select: none;
	user-select: none;
	transform: translateZ(1px);

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: var(--ui-border-radius);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-fancy);
}

.combobox-list:empty { padding: 0; box-shadow: none; border: none; }
.combobox-list:not(:empty) { min-height: 2rem; }
.combobox-list.hidden { display: none; }

.combobox-list-header {
	padding: 1rem 1rem 0.5rem;
	margin: 0;
	color: var(--ui-color-text-2);
	line-height: 1;
	font-weight: 500;
	cursor: default;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}


.combobox-list-header:last-child { display: none; }

.combobox-list-empty {
	padding: 0.6rem 1.2rem;
	color: var(--ui-color-text-semi);
	cursor: default;
	white-space: nowrap;
}

.combobox-list-item {
	padding: 0.5rem 1rem;
	color: var(--ui-color-text);
	cursor: pointer;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	border-radius: var(--ui-border-radius);
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.combobox-list-item.in-group {
	padding-left: 2rem;
}

.combobox-list-item.selected {
	background-color: var(--ui-color-highlight-1);
	outline: 1px solid transparent;
}
.combobox-list-item:hover {
	background-color: var(--ui-color-highlight);
	outline: 1px solid transparent;
}

.combobox-list-item b {
	color: var(--ui-color-accent);
}



@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.combobox-list {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
