.combobox .input-inner { position: relative; }

.combobox input { padding-right: 36px; }
.multiselect input { text-overflow: ellipsis; }

.combobox-button:focus { box-shadow: none; }

.combobox-list {
	position: absolute;
	z-index: var(--ui-z-index-popup);
	overflow-y: auto;
	overscroll-behavior-y: contain;
	padding: 0.2rem;
	min-height: 0;
	max-height: 26rem;
	-webkit-user-select: none;
	user-select: none;
	transform: translateZ(1px);

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: calc(var(--ui-border-radius) + 0.2rem);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-shadow-fancy);
}

.combobox-list.empty { padding: 0; box-shadow: none; border: none; }
.combobox-list:not(.empty) { min-height: 2rem; }
.combobox-list.hidden { display: none; }

.combobox-list-header,
.combobox-list-item {
	height: var(--ui-button-height);
	display: flex;
	align-items: center;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	padding: 0 1rem;
}

.combobox-list-header {
	margin: 0.5rem 0 0;
	color: var(--ui-color-text-2);
	font-weight: 500;
	cursor: default;
}

.combobox-list-header:last-child { display: none; }

.combobox-list-empty {
	padding: 0.6rem 1.2rem;
	color: var(--ui-color-text-semi);
	cursor: default;
	white-space: nowrap;
}

.combobox-list-item {
	color: var(--ui-color-text);
	cursor: pointer;
	border-radius: var(--ui-border-radius);
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.combobox-list-item svg { margin-right: 0.5rem; }

.combobox-list:not(.multiselect) .combobox-list-item.in-group { padding-left: 2rem; }


.mobile .combobox-list-item { transition: background-color 0.3s ease-out; }
.mobile .combobox-list-item.blinking {
	transition: background-color 0.1s;
	background-color: var(--ui-color-highlight-1);
}

.desktop .combobox-list-item.checked { background-color: var(--ui-color-highlight-semi); }
.desktop .combobox-list-item.selected { background-color: var(--ui-color-highlight-1); }
.desktop .combobox-list-item:hover { background-color: var(--ui-color-highlight); }

.combobox-list-item b { color: var(--ui-color-accent); }



@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.combobox-list {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
