.popover-plate {
	--popover-tip-size: 14px;
	--popover-color: var(--ui-popup-background);
	--popover-border: var(--ui-popup-border);
	--tip-offset: 50%;

	position: absolute;
	transform: translateZ(1px);
	z-index: var(--ui-z-index-elevated);
}

.popover {
	position: relative;
	border-radius: var(--ui-border-radius-m);
	box-shadow: var(--ui-shadow-tooltip);
}

.popover::before,
.popover-content::before {
	content: '';
	position: absolute;
	display: block;
	width: var(--popover-tip-size);
	height: var(--popover-tip-size);
	transform: rotate(45deg) skew(8deg, 8deg);
	left: var(--tip-offset);
	margin-left: calc(var(--popover-tip-size) / -2);
}


.popover::before {
	box-shadow: var(--ui-shadow-tooltip);
	background-color: var(--popover-color);
	border: var(--popover-border);
	border-width: 1.5px;
	margin-left: calc(var(--popover-tip-size) / -2 - 1.5px);
}

.popover-content {
	padding: 1rem;
	text-align: center;
	position: relative;
	border-radius: inherit;
	z-index: 1;
	background-color: var(--popover-color);
	border: var(--popover-border);
}

.popover-content * { position: relative; }
.popover-content::before { background-color: inherit; z-index: -1; }


.popover-plate:focus,
.popover:focus,
.popover-content:focus { outline: none; }



.popover-top { padding-bottom: var(--popover-tip-size); }
.popover-top .popover::before { border-radius: 0 0 3px; bottom: calc(var(--popover-tip-size) / -2); }
.popover-top .popover-content::before { border-radius: 0 0 2px; bottom: calc(var(--popover-tip-size) / -2); }

.popover-bottom { padding-top: var(--popover-tip-size); }
.popover-bottom .popover::before { border-radius: 3px 0 0; top: calc(var(--popover-tip-size) / -2); }
.popover-bottom .popover-content::before { border-radius: 2px 0 0; top: calc(var(--popover-tip-size) / -2); }



/* THEME LIGHT  */
.theme-light .popover-plate { --popover-color: #fff; }
