.popover-plate {
	--popover-tip-size: 14px;
	--popover-color: var(--ui-popup-background);
	--popover-border: var(--ui-popup-border);
	--tip-offset: 50%;

	position: absolute;
	transform: translateZ(1px);
	z-index: var(--ui-z-index-popup);
}

.popover-plate.opening { opacity: 0; }

.popover {
	position: relative;
	border-radius: var(--ui-border-radius-m);
	box-shadow: var(--ui-shadow-tooltip);
}

.popover-plate.no-tip .popover { box-shadow: var(--ui-shadow-fancy); }

.popover-plate.has-tip .popover::before,
.popover-plate.has-tip .popover-content::before {
	content: '';
	position: absolute;
	display: block;
	width: calc(var(--popover-tip-size) + 2px);
	height: calc(var(--popover-tip-size) + 2px);
	transform: rotate(45deg) skew(8deg, 8deg);
	left: var(--tip-offset);
	margin-left: calc(var(--popover-tip-size) / -2);
	border-radius: 2px;
}


.popover-plate.has-tip .popover::before {
	box-shadow: var(--ui-shadow-tooltip);
	background-color: var(--popover-color);
	border: var(--popover-border);
	border-width: 1.5px;
	margin-left: calc(var(--popover-tip-size) / -2 - 0.5px);
	border-radius: 3px;
}

.popover-content {
	padding: 1rem;
	text-align: center;
	position: relative;
	border-radius: inherit;
	z-index: 1;
	background-color: var(--popover-color);
	border: var(--popover-border);
}

.popover-content > * { position: relative; }

.popover-plate.has-tip .popover-content::before { background-color: inherit; z-index: -1; }



.popover-plate:focus,
.popover-plate .popover:focus,
.popover-content:focus { outline: none; }

.popover-plate.no-tip .popover-content {
	background-color: var(--ui-color-background-semi);
	backdrop-filter: blur(30px);
}



/*** ABOVE TARGET *********************************************************************************/
.popover-top.has-tip { padding-bottom: var(--popover-tip-size); }
.popover-top.has-tip .popover::before { bottom: calc(var(--popover-tip-size) / -2); }
.popover-top.has-tip .popover-content::before { bottom: calc(var(--popover-tip-size) / -2); }


/*** BELOW TARGET *********************************************************************************/
.popover-bottom.has-tip { padding-top: var(--popover-tip-size); }
.popover-bottom.has-tip .popover::before { top: calc(var(--popover-tip-size) / -2); }
.popover-bottom.has-tip .popover-content::before { top: calc(var(--popover-tip-size) / -2); }




/*** LEFT OR RIGHT OF TARGET **********************************************************************/
.popover-left.has-tip .popover::before,
.popover-left.has-tip .popover-content::before,
.popover-right.has-tip .popover::before,
.popover-right.has-tip .popover-content::before {
	transform: rotate(-45deg) skew(8deg, 8deg);
	top: var(--tip-offset);
	margin-top: calc(var(--popover-tip-size) / -2 - 1.5px);
}


/*** LEFT OF TARGET *******************************************************************************/
.popover-left.has-tip .popover::before,
.popover-left.has-tip .popover-content::before { left: auto; right: calc(var(--popover-tip-size) / -2); }
.popover-left.has-tip { margin-left: calc(var(--popover-tip-size) * -1); }
.popover-left.has-tip .popover-content::before { margin-top: calc(var(--popover-tip-size) / -2); }


/*** RIGHT OF TARGET ******************************************************************************/
.popover-right.has-tip .popover::before,
.popover-right.has-tip .popover-content::before { left: 0; }
.popover-right.has-tip { margin-left: var(--popover-tip-size); }
.popover-right.has-tip .popover-content::before { margin-top: calc(var(--popover-tip-size) / -2); }




/* THEME LIGHT  */
.theme-light .popover-plate { --popover-color: #fff; }
