.toggle {
	--toggle-width: 60px;
	--toggle-padding: 2px;
	--border-radius: var(--ui-border-radius-xl);
	--toggle-height: calc(var(--toggle-width) / 2.5);
	--knob-size: var(--toggle-height);

	display: inline-flex;
	flex-flow: column;
	align-items: flex-start;
	position: relative;
	vertical-align: middle;
	-webkit-user-select: none;
	user-select: none;

	border-radius: var(--border-radius);
}

.toggle-inner {
	border: 1px solid var(--ui-color-text-dark-2);
	padding: var(--toggle-padding);
	border-radius: inherit;
	background-color: var(--ui-color-background-dark-2);
}

.toggle:has(:disabled) { pointer-events: none; opacity: 0.6; }

.toggle:focus { outline: 1px solid transparent; }
.toggle:focus .toggle-inner {
	box-shadow: var(--ui-shadow-focus);
	border-color: var(--ui-color-accent);
}

.toggle-input { display: none; }

.toggle-label {
	width: var(--toggle-width);
	height: var(--toggle-height);
	border-radius: calc(var(--border-radius) - var(--toggle-padding));
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-shrink: 0;
	overflow: hidden;
	cursor: pointer;
}

.toggle-scroller {
	height: 100%;
	border-radius: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: margin-left .2s cubic-bezier(.85, .05, .18, 1.4);
	flex-shrink: 0;
	width: calc(200% - var(--toggle-height));
	margin-left: calc(var(--toggle-height) - var(--toggle-width) - var(--toggle-padding));
}

.toggle-option {
	width: 50%;
	height: 100%;
	border-radius: inherit;
	background-color: green;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: calc(var(--toggle-width) / 5);
}
.toggle-option:first-of-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: var(--ui-color-highlight);
	background-position: 41% 47%;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 17.5714286 9.6 9.4285714 22.4-22' fill='none' stroke='%23fff' stroke-width='4'/%3E%3C/svg%3E");
}
.toggle-option:last-of-type {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: var(--ui-color-background-input);
	background-position: 62% 55%;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m27.5352.4648-27.0704 27.0704m-.4648-27.5352 28 28' stroke='%23fff' stroke-width='4'/%3E%3C/svg%3E");
}

.theme-light .toggle-option:first-of-type {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 17.5714286 9.6 9.4285714 22.4-22' fill='none' stroke='%23000' stroke-width='4'/%3E%3C/svg%3E");
}

.theme-light .toggle-option:last-of-type {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m27.5352.4648-27.0704 27.0704m-.4648-27.5352 28 28' stroke='%23000' stroke-width='4'/%3E%3C/svg%3E");
}

.toggle-handle {
	width: 0;
	height: 0;
	position: absolute;
	transition: left .2s cubic-bezier(.85, .05, .18, 1.4);
	border-radius: inherit;
	left: calc(var(--toggle-height) / 2 + var(--toggle-padding));

}

.toggle-knob {
	width: var(--knob-size);
	height: var(--knob-size);
	background: var(--ui-color-text-light-1);
	border: 1px solid var(--ui-color-text-light-2);
	transform: translate(-50%, -50%);
	border-radius: inherit;
}

/* this is calculated in js
.checked .toggle-scroller { margin-left: 0; }
.checked .toggle-handle { left: calc(var(--toggle-width) + var(--toggle-padding) - var(--toggle-height) / 2); }
*/
