.toaster {
	position: fixed;
	width: 30em;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	user-select: none;
	z-index: 90;
	padding-top: var(--ui-margin-l);
}
.toaster-top { top: 0; }
.toaster-bottom { bottom: 0; }

.toast {
	font-size: 1em;
	position: relative;
	overflow: hidden;
	flex: 1;
	text-align: center;
	z-index: 10;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	min-height: 2em;
	margin-top: var(--ui-margin);
	margin-bottom: var(--ui-margin);
	box-shadow: var(--ui-shadow-fancy);
	border-radius: var(--ui-border-radius-xl);
}
.toast button {
	background: none;
	border: none;
	color: var(--ui-color-text);
	height: auto;
	font-size: inherit;
	min-width: 1.6em;
	padding: 0 var(--ui-margin-m);
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.toast button:hover { color: var(--ui-color-text-light-2); background: #3338; }
.toast button:active { color: var(--ui-color-text-dark-2); background: #0008; }

.toast .toast-close {
	font-size: 1.4em;
	font-weight: 200;
	border-radius: 0 var(--ui-border-radius-xl) var(--ui-border-radius-xl) 0;
	position: relative;
	padding-bottom: 0.15em;
}

.toast,
.toast-info { background-color: var(--ui-color-info); }
.toast-success { background-color: var(--ui-color-success); }
.toast-warning { background-color: var(--ui-color-warning); }
.toast-error { background-color: var(--ui-color-danger); }
.toast-msg {
	color: #eee;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.toast-progressbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	border-radius: var(--ui-border-radius-xl);
	overflow: hidden;
	z-index: -1;
}
.toast-progress {
	height: 100%;
	border-radius: var(--ui-border-radius-xl);
	background-color: #ffffff15;
	border: 1px solid #ffffff25;
	width: 0;
	transition: width 0.3s;
}


@media (max-width: 980px) {
	.toaster { font-size: 1.5em; width: 98vw; }
}
