.toaster {
	--toaster-border-radius: var(--ui-border-radius-s);
	position: fixed;
	width: 30rem;
	left: 50%;
	transform: translateX(-50%) translateZ(1px);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	user-select: none;
	z-index: 999;
	padding-top: var(--ui-margin-l);
}
.toaster-top { top: 0; }
.toaster-bottom { bottom: 0; }

.toast {
	font-size: 1rem;
	position: relative;
	overflow: hidden;
	flex: 1;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 2rem;
	margin-top: var(--ui-margin);
	margin-bottom: var(--ui-margin);
	box-shadow: var(--ui-shadow-fancy);
	border-radius: var(--toaster-border-radius);
}
.toast button {
	background: none;
	border: none;
	color: var(--ui-color-text);
	height: 1.8rem;
	min-width: 1.6rem;
	font-size: inherit;
	padding: 0 var(--ui-margin-m);
	margin: 0 var(--ui-margin-m) 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui-border-radius);
}
.toast button:hover { color: var(--ui-color-text-light-2); background: #2228; }
.toast button:active { color: var(--ui-color-text-dark-2); background: #0008; }

.toast .toast-close {
	font-size: 1.4rem;
	font-weight: 200;
	position: relative;
	padding-bottom: 0.15rem;
}

.toast,
.toast-info { background-color: var(--ui-color-info); }
.toast-success { background-color: var(--ui-color-success); }
.toast-warning { background-color: var(--ui-color-warning); }
.toast-error { background-color: var(--ui-color-danger); }
.toast-msg {
	color: var(--ui-color-text);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.8rem 0.8rem 0.8rem 1.5rem;
	line-height: 1.4;
}
.toast-progressbar {
	position: absolute;
	inset: 0;
	border-radius: var(--toaster-border-radius);
	z-index: -1;
}
.toast-progress {
	height: 100%;
	border-radius: var(--toaster-border-radius);
	background-color: #ffffff15;
	border: 1px solid #ffffff25;
	margin: 0;
	width: 0;
	transition: width .2s;
}


@media (1px <= width <= 700px) {
	.toaster { width: calc(100vw - 1rem); }
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.toast-info { background-color: var(--ui-color-info-semi); }
	.toast-success { background-color: var(--ui-color-success-semi); }
	.toast-warning { background-color: var(--ui-color-warning-semi); }
	.toast-error { background-color: var(--ui-color-danger-semi); }
	.toast {
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
	}
}
