/* more styling defined in ../input.css .check-and-radio {} */

.radio {
	min-width: 26ch;
	width: min-content;
	max-width: 100%;

	--ui-radio-padding: var(--ui-margin-s);
}

.radio-inner {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	border: 1px solid var(--ui-color-border);
	border-radius: calc(var(--ui-border-radius) + var(--ui-radio-padding));
	background-color: var(--ui-color-background-input);
	overflow: hidden;
}


.radio-items {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: var(--ui-radio-padding);
	width: 100%;
	padding: var(--ui-radio-padding) 0;
	background-color: var(--ui-color-background-input);
	border-radius: inherit;
}


.radio .radio-item {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	width: calc(100% - calc(var(--ui-radio-padding) * 2));
	margin: 0 var(--ui-radio-padding);
	padding: 0.1rem var(--ui-margin);
	border-radius: var(--ui-border-radius-s);
}

.radio .radio-item input { border-radius: 10rem; margin: 0; }
.radio .radio-item input:focus { box-shadow: none; }

.radio .radio-item input::after {
	font-size: var(--ui-font-l);
	width: 70%;
	height: 70%;
	border-radius: inherit;
	background: var(--ui-color-text-gradient);
}


.radio .radio-item.disabled { opacity: 0.5; }

.radio .radio-item.disabled input { opacity: 1; }

.radio-item:not(.disabled):hover { background-color: var(--ui-color-highlight-semi); }
.radio-item:not(.disabled):focus-within { background-color: var(--ui-color-highlight-1); }

.radio.has-error .radio-inner {
	border-color: var(--ui-color-danger);
	background-color: var(--ui-color-danger-semi);
}

.ui-keyboard .radio-inner:not(.disabled):focus-within {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
}
.ui-keyboard .radio.has-error .radio-inner:not(.disabled):focus-within {
	border-color: var(--ui-color-danger);
	box-shadow: var(--ui-shadow-danger);
}


.radio.has-error .info-bar-error { background-color: transparent; }
