:where(input:is([type=radio])) {
	vertical-align: inherit;
	transform: scale(1.6);
	filter: brightness(1.4);
	accent-color: var(--ui-color-highlight);
	border-radius: 50px;
}

.theme-light :where(input:is([type=radio])) { filter: brightness(0.9); }

.radio { min-width: 26ch; width: min-content; max-width: 100%; }

.radio-inner {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	border: 1px solid  var(--ui-color-border);
	border-radius: calc(var(--ui-border-radius) + 0.26rem);
	background-color: var(--ui-color-background-input);
	overflow: hidden;
}

.has-error .radio-inner { border-color: var(--ui-color-danger); background-color: var(--ui-color-danger-semi); }

.radio-inner:focus-within,
.radio-inner:has(:active):not(.disabled) { border-color: var(--ui-color-accent); box-shadow: var(--ui-shadow-focus); }

.has-error .radio-inner:focus-within,
.has-error .radio-inner:has(:active):not(.disabled) { box-shadow: var(--ui-shadow-danger); border-color: var(--ui-color-danger); }


.has-error.radio .info-bar-error { background-color: transparent; }


.radio-items {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	background-color: var(--ui-color-background-input);
	border-radius: inherit;
}

.radio-item {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	width: calc(100% - 0.4rem);
	margin: 0.2rem;
	padding: 0.1rem 0.1rem 0.1rem 0.75rem;
	border-radius: var(--ui-border-radius);
}

.radio-item:has(:disabled) { opacity: 0.75; color: var(--ui-color-text-semi); }

.radio-item .label { padding: 0.5rem 1rem; }

.radio-item:not(.disabled):focus-within,
.radio-item:not(.disabled):hover { background-color: var(--ui-color-highlight-1); }
