.button {
	--ui-button-size: 1em;

	font: inherit;
	line-height: 1.4;
	font-weight: 400;
	font-size: var(--ui-button-size);

	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: auto;
	margin: 0;
	color: var(--ui-color-text);
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: var(--ui-border-radius);
}

.button:focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	outline: none;
}

.button:active {
	outline: none;
	box-shadow: none;
	transform: translateY(1px);
	filter: brightness(0.85);
}

.button[disabled] {
	pointer-events: none;
	opacity: 0.6;
	box-shadow: none;
}

.button svg {
	min-height: calc(var(--ui-button-size) * 1.2);
	min-width: var(--ui-button-size);
	width: auto;
	height: 100%;
}

.button-has-text svg { margin-left: calc(var(--ui-margin-m) * -1); margin-right: 0.4em; }

.button:not(.button-has-text) { min-width: 30px; padding: 0 var(--ui-margin-m); }
.button:not(.button-has-text) svg { min-height: calc(var(--ui-button-size) * 1.4); }


.button.round { padding: var(--ui-margin); border-radius: var(--ui-border-radius-xl); }

@media (max-width: 980px) {
	.button { --ui-button-size: 1.2em; }
}
