.button-normal {
	background: var(--ui-color-secondary);
	border: 0.5px solid #0006;
	border-bottom-color: #000c;
	box-shadow: var(--ui-shadow-button);
}

.button-normal:not(.round) { min-width: calc(var(--ui-button-size) * 4); }

.button-normal.info { background: var(--ui-color-info); }
.button-normal.success { background: var(--ui-color-success); }
.button-normal.warning { background: var(--ui-color-warning); }
.button-normal.error,
.button-normal.danger { background: var(--ui-color-danger); }
