.button-outline {
	font: inherit;
	line-height: 1.4;
	font-weight: 400;
	font-size: calc(var(--button-size) * 0.9);

	display: inline-block;
	margin: 0;
	padding: 0 var(--button-size);
	min-width: calc(var(--button-size) * 4);
	min-height: calc(var(--button-size) * 2);
	height: auto;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	text-decoration: none;
	border-radius: var(--ui-border-radius);
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--ui-color-text);
	border: 0.1em solid var(--ui-color-info);
	background: transparent;
	transition:
		background-color var(--ui-animation-speed) ease-out,
		border-color var(--ui-animation-speed) ease-out;
}

.button-outline:focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
	background: var(--ui-color-info-semi);
	outline: none;
}

.button-outline:active {
	outline: none;
	box-shadow: none;
	transform: translateY(1px);
	filter: brightness(0.85);
}

.button-outline.success { border-color: var(--ui-color-success); }
.button-outline.warning { border-color: var(--ui-color-warning); }
.button-outline.danger { border-color: var(--ui-color-danger); }

.button-outline:focus,
.button-outline:hover { background-color: var(--ui-color-info-semi); text-decoration: none; }
.button-outline.success:focus,
.button-outline.success:hover { background-color: var(--ui-color-success-semi); }
.button-outline.warning:focus,
.button-outline.warning:hover { background-color: var(--ui-color-warning-semi); }
.button-outline.danger:focus,
.button-outline.danger:hover { background-color: var(--ui-color-danger-semi); }


.button-outline[disabled] {
	pointer-events: none;
	opacity: 0.6;
	box-shadow: none;
}
