.button-text { background: transparent; border: none; box-shadow: none; }

.button-text:not(.round) { min-width: calc(var(--ui-button-size) * 4); }

.button-text:focus-visible,
.button-text:hover { background-color: var(--ui-color-secondary); }

.button-text.info:focus-visible,
.button-text.info:hover { background-color: var(--ui-color-info); }

.button-text.success:focus-visible,
.button-text.success:hover { background-color: var(--ui-color-success); }

.button-text.warning:focus-visible,
.button-text.warning:hover { background-color: var(--ui-color-warning); }

.button-text.error:focus-visible,
.button-text.error:hover,
.button-text.danger:focus-visible,
.button-text.danger:hover { background-color: var(--ui-color-danger); }
