.button.icon {
	--size: 1.4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    color: var(--color-text);
    cursor: pointer;
    padding: 0.2em;
    opacity: 0.7;
	border-radius: 5em;
    min-width: calc(var(--size) + 0.2em);
    min-height: calc(var(--size) + 0.2em);
    height: calc(var(--size) + 0.2em);
}

.button.icon:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 2px 1px var(--color-accent);
    opacity: 1;
    outline: 0;
}

.button.icon:hover {
    background: var(--color-background);
    opacity: 1;
}

.button.icon svg {
    height: 100%;
    min-width: var(--size);
    width: auto;
}

.button.icon:hover.success,
.button:hover.success { background: var(--color-success); }

.button.icon:hover.warning,
.button:hover.warning { background: var(--color-warning); }

.button.icon:hover.danger,
.button:hover.danger { background: var(--color-danger); }


@media (max-width:980px){
	.button.icon {
		--size: 1.6em;
	}
}
