.button {
	font: inherit;
	display: inline-block;
	padding: 0 15px;
	min-width: 80px;
	min-height: 33px;
	margin: 0;
	font-size: 15px;
	line-height: 1.4;
	font-weight: 400;
	height: auto;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	color: var(--color-text);
	background: var(--color-info);
	transition: background-color var(--animation-speed) ease-out, border-color var(--animation-speed) ease-out, box-shadow var(--animation-speed) ease-out;
}

.button:hover { text-decoration: none; }

.button:focus {
	border-color: var(--color-accent);
	box-shadow: 0 0 2px 1px var(--color-accent);
	outline: none;
}

.button:active {
	outline: none;
	box-shadow: none;
	transform: translateY(1px);
	filter: brightness(0.85);
}

.button.success:not(.link):not(.text) {
	background: var(--color-success);
}
.button.warning:not(.link):not(.text) {
	background: var(--color-warning);
}
.button.danger:not(.link):not(.text) {
	background: var(--color-danger);
}

.button[disabled] { pointer-events: none; opacity: 0.6; }
