.button-text { background: transparent; border: none; box-shadow: none; }

.button-text:not(.round) { min-width: calc(var(--ui-button-size) * 4); }

.button-text:hover,
.ui-keyboard .button-text:focus { background-color: var(--ui-color-secondary); }

.button-text.info:hover,
.ui-keyboard .button-text.info:focus { background-color: var(--ui-color-info); }

.button-text.success:hover,
.ui-keyboard .button-text.success:focus { background-color: var(--ui-color-success); }

.button-text.warning:hover,
.ui-keyboard .button-text.warning:focus { background-color: var(--ui-color-warning); }

.button-text.error:hover,
.ui-keyboard .button-text.error:focus,
.button-text.danger:hover,
.ui-keyboard .button-text.danger:focus  { background-color: var(--ui-color-danger); }
