.button-link {
	background: none;
	border: none;
	cursor: pointer;
	display: inline;
	margin: -0.2em 0;
	min-width: 0;
	padding: 0.2em 0;
	text-decoration: underline;
	vertical-align: baseline;
	border-radius: 0;
}

.button-has-text.button-link svg { margin-left: 0; }

.button-link:focus,
.button-link:hover {
	text-decoration-thickness: 0.2em;
	text-underline-offset: 0.2em;
	text-decoration-color: var(--ui-color-info);
	text-decoration-skip: none;
}
.button-link.success:focus,
.button-link.success:hover { text-decoration-color: var(--ui-color-success); }

.button-link.warning:focus,
.button-link.warning:hover { text-decoration-color: var(--ui-color-warning); }

.button-link.danger:focus,
.button-link.danger:hover { text-decoration-color: var(--ui-color-danger); }
