.button-outline { background: transparent; border: 2px solid var(--ui-color-secondary); }

.button-outline:not(.round) { min-width: calc(var(--ui-button-size) * 4); }

.button-outline:hover,
.ui-keyboard .button-outline:focus { background-color: var(--ui-color-secondary-semi); }

.button-outline.info { border-color: var(--ui-color-info); }
.button-outline.info:hover,
.ui-keyboard .button-outline.info:focus { background-color: var(--ui-color-info-semi); }

.button-outline.success { border-color: var(--ui-color-success); }
.button-outline.success:hover,
.ui-keyboard .button-outline.success:focus { background-color: var(--ui-color-success-semi); }

.button-outline.warning { border-color: var(--ui-color-warning); }
.button-outline.warning:hover,
.ui-keyboard .button-outline.warning:focus { background-color: var(--ui-color-warning-semi); }

.button-outline.error,
.button-outline.danger { border-color: var(--ui-color-danger); }

.button-outline.error:hover,
.ui-keyboard .button-outline.error:focus,
.button-outline.danger:hover,
.ui-keyboard .button-outline.danger:focus { background-color: var(--ui-color-danger-semi); }
