.button-link {
	background: none;
	border: none;
	cursor: pointer;
	min-width: 0;
}

.button.button-link {
	margin: calc(var(--ui-margin) * -1);
	padding: var(--ui-margin);
	vertical-align: baseline;
	text-decoration: underline;
}

.button.button-link:focus-visible,
.button.button-link:hover { text-decoration: underline; text-underline-offset: 0.2rem; }


.button-link.info:focus-visible,
.button-link.info:hover { text-decoration-color: var(--ui-color-info); }

.button-link.success:focus-visible,
.button-link.success:hover { text-decoration-color: var(--ui-color-success); }

.button-link.warning:focus-visible,
.button-link.warning:hover { text-decoration-color: var(--ui-color-warning); }

.button-link.error:focus-visible,
.button-link.error:hover,
.button-link.danger:focus-visible,
.button-link.danger:hover { text-decoration-color: var(--ui-color-danger); }
