
.button.icon.text,
.button.text {
	--size: 1.05em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: transparent;
	box-shadow: none;
	color: var(--color-text);
	cursor: pointer;
	opacity: .7;
	border-radius: 0.3em;
	min-width: 0;
	padding: 0.3em 0.6em 0.3em 0.4em;
	height: calc(var(--size) * 2);
	font-family: inherit;
	line-height: 1.4;
	font-weight: 400;
	text-decoration: none;
}

.button.icon.text:focus,
.button.text:focus {
	border-color: var(--color-accent);
	box-shadow: 0 0 2px 1px var(--color-accent);
	opacity: 1;
	outline: 0;
}

.button.icon.text:active,
.button.text:active {
	outline: none;
	box-shadow: none;
	filter: brightness(0.85);
}

.button.icon.text:hover,
.button.text:hover {
	background: var(--color-background);
	opacity: 1;
}

.button.icon.text:hover.success,
.button.text:hover.success { background: var(--color-success); }

.button.icon.text:hover.warning,
.button.text:hover.warning { background: var(--color-warning); }

.button.icon.text:hover.danger,
.button.text:hover.danger { background: var(--color-danger); }

.button.icon.text svg,
.button.text svg { margin-right: 0.4em; }




@media (max-width:980px){
	.button.icon.text,
	.button.text {
		--size: 1.2em;
	}
}
