html,
body {
	margin: 0;
	background-color: var(--ui-color-background);
	color: var(--ui-color-text);

	--sidebar-width: 220px;
}


@font-face {
	font-family: 'Prime Light';
	src: url('prime_light-webfont.woff2') format('woff2'),
		url('prime_light-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}


a { color: inherit; }
a:hover {
	text-decoration-color: var(--ui-color-accent);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.3rem;
}

main {
	padding: 0 2rem 8rem;
	margin-left: var(--sidebar-width);
}

h1,
h2,
h3 { font-weight: 500; margin: 2rem 0 1.2rem; width: 100%; }

h1:first-child,
h2:first-child,
h3:first-of-type { margin-top: 0; }

p { line-height: 1.7; margin-block: 1.5rem; max-width: 120ch; }
p b { font-weight: 700; letter-spacing: 0.5px; }

ul { line-height: 1.7; margin: 0; padding-left: 2rem; }
ul li { margin-block: 0.5rem; }

p + ul { margin-top: -1rem }

em { color: var(--ui-color-accent); font-style: normal; }


hr {
	width: 100%;
	height: 0;
	border: 0;
	border-top: 1px solid var(--ui-color-border-2);
	margin: 3em 0 2em;
}


.docs-overflow-box {
	border: 2px dotted var(--ui-color-accent);
	background-color: var(--ui-color-background);
	padding: 1em;
	overflow: hidden;
	z-index: 1;
	position: relative;
}

.docs-buttons-row {
	display: flex;
	flex-flow: wrap row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5rem;
	flex-shrink: 0;
}



@media (1px <= width <= 700px) {
	main { margin-left: 0; }
}
