html,
body {
	box-sizing: border-box;
	touch-action: none;
	height: 100%;
	width: 100%;
	margin: 0;
	font: normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: var(--ui-color-background);
	color: var(--ui-color-text);
}

body * { box-sizing: inherit; }

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
}

a { color: inherit; }

aside {
	padding: 1em 2em 4em 1em;
	border-right: 1px solid var(--ui-color-border-dark-2);
	height: 100%;
	overflow-y: auto;
}

main {
	flex: 1;
	padding: 2em 2em 10em;
	height: 100%;
	overflow-y: auto;
}

h1,
h2,
h3 { font-weight: 300; margin: 2em 0 1.2em; }

h1:first-child,
h2:first-child,
h3:first-of-type { margin-top: 0; }

ul,
p { line-height: 1.6; }
em { color: var(--ui-color-accent); font-style: normal; }


hr {
	width: 100%;
	height: 0;
	border: 0;
	border-top: 1px solid var(--ui-color-border-dark-2);
	margin: 3em 0 2em;
}

.main-header {
	background: linear-gradient(#0001, #0006), url("bg.png") right;
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2em -2em 2em;
}

.logo { max-width: 256px; filter: drop-shadow(0 1px 2px #0009); }
.logotype {
	flex: .5;
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	padding-inline: 1em;
	color: var(--ui-color-background-dark-2);
	font-weight: 600;
	font-size: 54px;
	margin: -0.3em 0 0;
	text-shadow: 0 0 20px #fffa;
}
.logotype .small { font-size: 32px; font-weight: 300; margin-block: -0.4em; }
.logotype .small:last-child { margin-left: 9em; }


.docs-layout {
	display: flex;
	flex-flow: row;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
}

.docs-column { padding-block: 1em; }
.docs-column:first-of-type { flex: 1; }
.docs-column:last-of-type {
	flex: 1;
	padding-left: 1em;
	border-left: 1px solid var(--ui-color-border-dark-2);
}
.docs-column pre { line-height: 1.6; }

.docs-overflow-box {
	background-color: var(--ui-color-background-light-1);
	padding: 1em;
	overflow: hidden;
	z-index: 1;
	position: relative;
}

code {
	display: block;
	width: 100%;
	padding: 1em;
	line-height: 2;
	background-color: var(--ui-color-background-dark-2);
	margin-block: 1em;
	white-space: pre;
	overflow: auto;
}

.api-table { height: unset; }
.api-table .table { table-layout: fixed; }

.api-table tr td { vertical-align: top; }

.api-table tr th:first-child,
.api-table tr td:first-child { width: 150px; white-space: nowrap; }

.api-table tr th:nth-child(2),
.api-table tr td:nth-child(2) { width: 200px; }
