aside {
	border-right: 1px solid var(--ui-color-border-2);
	overflow-y: auto;
	background: var(--ui-color-background);
	position: fixed;

	left: 0;
	top: 0;
	height: 100lvh;
	width: var(--sidebar-width);
	padding: 0 1rem calc(100lvh - 100svh);

	overscroll-behavior: contain;
	transform: translateX(calc(var(--sidebar-width) * -1));
	transition: transform .3s cubic-bezier(.5, .2, .5, 1.2);
	z-index: 99;
}




menu {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 1rem 0 0;
	margin: 0 0 2rem;
}

menu h3 {
	margin: 0 -1rem;
	padding: var(--ui-margin-m) var(--ui-margin-l);
	white-space: nowrap;
	font-family: 'Prime Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: var(--ui-font-xl);
}

menu h3:not(:first-child) { margin-top: var(--ui-margin-l); }

menu a {
	color: var(--ui-color-text);
	text-decoration: none;
	display: block;
	margin: var(--ui-margin-s) 0;
	padding: var(--ui-margin-m) 1.4rem;
	border-radius: var(--ui-border-radius);
	white-space: nowrap;
	touch-action: manipulation;
}

menu a:hover { background-color: var(--ui-color-highlight-1); }
menu a.active { background-color: var(--ui-color-highlight); }


.button.nav-toggler,
.button.nav-toggler:active {
	--ui-button-size: 1.1em;
	position: fixed;
	left: 0;
	top: 0.28rem;
	color: var(--ui-color-text-1);
	display: flex;
	transform: translateX(10px);
	transition: transform .3s cubic-bezier(.5, .2, .5, 1.2);
	z-index: 100;
}
.button.nav-toggler:hover { color: var(--ui-color-text); background: none; }


.btn-scroll-top {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 999;
}
.btn-scroll-top.hidden { display: none; }



.sidebar-expanded .button.nav-toggler { transform: translateX(calc(var(--sidebar-width) - 40px)); }
.sidebar-expanded aside { transform: translateX(0); }
