.skeleton-shape {
	position: relative;
	border-radius: var(--ui-border-radius-l);
	background-color: var(--ui-color-secondary-semi);
	overflow: clip;
}

.skeleton-shape::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: linear-gradient(90deg, #fff0 0%, #fff6 50%, #fff0 100%);
	background-size: 50% 100%;
	background-position: -50% 0;
	animation: skeleton-animation 2s infinite;
}

@keyframes skeleton-animation {
	to { background-position: 200% 0; }
}



.skeleton-circle { border-radius: 50%; aspect-ratio: 1; width: 3em; }
.skeleton-rect { width: auto; }


.skeleton-img {
	display: grid;
	place-items: center;
	min-height: 3em;
	aspect-ratio: 16/9;
}

.skeleton-img svg {
	width: 30%;
	height: 30%;
	color: var(--ui-color-text-2);
	opacity: 0.3;
}


.skeleton-line { height: 0.8em; width: 75%; min-height: unset; }
.skeleton-line:nth-child(6n+1) { width: 100%; }
.skeleton-line:nth-child(6n+2) { width: 92%; }
.skeleton-line:nth-child(6n+3) { width: 85%; }
.skeleton-line:nth-child(6n+4) { width: 78%; }
.skeleton-line:nth-child(6n+5) { width: 95%; }
.skeleton-line:nth-child(6n+6) { width: 88%; }
