.range {
	position: relative;
	width: 25ch;
	vertical-align: top;
	--range-size: calc(var(--ui-button-height) / 3 * 2);
}

.range .range-inner {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
	flex: 1;
	padding: 0 0 0.5rem;
	position: relative;
	height: 100%;
}


.range input {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	width: 100%;
	height: 0.5rem;
	border-radius: 5rem;
	padding-inline: 0;
	border: 1px solid var(--ui-color-border);
	background: var(--ui-color-background-input);
	background-image: linear-gradient(var(--ui-color-highlight), var(--ui-color-highlight));
	background-size: 70% 100%;
	background-repeat: no-repeat;
	background-clip: padding-box;
}




.range input::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	display: block;
	height: 0.5rem;
	border-radius: 0.5rem;
}

.range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--ui-color-text);
	height: var(--range-size);
	width: var(--range-size);
	border-radius: 5rem;
	box-shadow: 0 1px 3px #000c;
    transform: translateY(calc(-50% + 0.25rem - 1px));
	transform-origin: center 25%;
}


.range input::-moz-range-track {
	display: flex;
	align-items: center;
	background-color: var(--ui-color-background-input);
	height: 0.5rem;
	border-radius: 0.5rem;
}

.range input::-moz-range-thumb {
	background-color: var(--ui-color-text);
	height: var(--range-size);
	width: var(--range-size);
	border-radius: 5rem;
	box-shadow: 0 1px 3px #000c;
}


/* Cannot be merged, as it won't work in safari */
.range:not(.disabled) input::-webkit-slider-thumb:active { scale: 0.9; }
.range:not(.disabled) input::-moz-slider-thumb:active { scale: 0.9; }



.range-ticks {
	display: flex;
	justify-content: space-between;
	margin: 0 -0.1rem 0.4rem;
	cursor: default;
}
.range-ticks span { width: 3ch; text-align: center; }
.range:not(.disabled) .range-ticks span { cursor: pointer; }


.range.label-on-the-left { align-items: flex-end; }
.range.label-on-the-left .label { height: 1.8rem; }
