.input-password {
	position: relative;
	display: inline-flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;
}

.input-password input {
	font-family: verdana, sans-serif;
	width: 100%;
	padding-right: 36px;
}


.input-password.visible input { font-family: inherit; }
.input-password.visible .input-password-button { color: var(--ui-color-danger); }
.input-password.visible .input-password-button svg { stroke-width: 2; }



/* PASSWORD STRENGTH */
.password-strength {
	width: calc(100% - 6px);
	height: 3px;
	margin: -7px 3px 0;
	border-radius: 10px;
	background-color: var(--ui-color-background-input);
	cursor: default;
}

.password-strength-progress {
	height: 100%;
	border-radius: inherit;
	transition: width var(--ui-animation-speed) ease-out;
	background-color: var(--ui-color-danger);
}

.password-strength-progress.warning { background-color: var(--ui-color-warning); }
.password-strength-progress.info { background-color: var(--ui-color-info); }
.password-strength-progress.success { background-color: var(--ui-color-success); }


.password-strength-info {
	position: absolute;
	top: 0;
	display: none;
	cursor: default;
	width: calc(100% - 2px);
	flex-flow: column;
	align-items: stretch;
	gap: 1rem;
	font-size: 0.8rem;
	margin: 0.2rem 1px 0;
	padding: 0.8rem;
	border-radius: var(--ui-border-radius);
	background-color: var(--ui-color-background-input);
	border: 1px solid var(--ui-color-danger);
	z-index: 9;
}

.input-password:focus-within .password-strength-info { display: flex; }

.password-strength-info.warning { border-color: var(--ui-color-warning); }
.password-strength-info.info { border-color: var(--ui-color-info); }
.password-strength-info.success { border-color: var(--ui-color-success); }

.password-strength-info h2 { font-size: var(--ui-font-s); text-align: left; margin-bottom: 0; }
.password-strength-info small { font-size: var(--ui-font-xs); margin: 0; line-height: 1.4; }
.password-strength-info small:empty { display: none; }
