:root {
	--color-highlight: #19a2d7;
	--color-accent: orange;
	--color-info: #666d7b;
	--color-success: #3e795e;
	--color-danger: #943737;
	--animation-speed: .3s;
	color-scheme: dark light;
;
	--color-border: #000;
	--color-background: #333;
	--color-background-alt: #444;
	--color-background-input: #222;
	--color-text: #fff;
	--color-text-dimmed: #aaa;
	--color-warning: #af8a1a;
}

body {
	background: #444;
	color: #eee;
	margin: 0;
	padding: 20px;
	font: normal 15px sans-serif;
	box-sizing: border-box;
	touch-action: none;
}

body * { box-sizing: inherit; }

.text-fit-div {
	border: 1px solid red;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	resize: horizontal;
}
