:root {
	/* BORDERS */
	--ui-border-radius: 0.375rem;	   /* 6px */
	--ui-border-radius-s: 0.4375rem;   /* 7px */
	--ui-border-radius-m: 0.6877rem;   /* 11px */
	--ui-border-radius-l: 1rem;		   /* 16px */
	--ui-border-radius-xl: 5rem;	   /* 80px */

	/* MARGIN & PADDING */
	--ui-margin: 0.375rem;			   /* 6px */
	--ui-margin-xs: 0.125rem;		   /* 2px */
	--ui-margin-s: 0.25rem;			   /* 4px */
	--ui-margin-m: 0.5rem;			   /* 8px */
	--ui-margin-l: 1rem;			   /* 16px */


	--ui-animation-speed: .25s;
	--ui-button-height: 2.25rem;       /* 36px */

	/* FONTS */
	--ui-font-system: system-ui, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--ui-font-xxs: 0.8125rem;          /* 13px */
	--ui-font-xs: 0.875rem;            /* 14px */
	--ui-font-s: 0.9375rem;            /* 15px */
	--ui-font-m: 1rem;                 /* 16px */
	--ui-font-l: 1.0625rem;            /* 17px */
	--ui-font-xl: 1.375rem;            /* 22px */


	/* SHADOWS */
	--ui-shadow-focus: 0 0 2px 1px var(--ui-color-accent);
	--ui-shadow-danger: 0 0 2px 1px var(--ui-color-danger);
	--ui-shadow-small: 0 0 0 0.5px #fff4, 0 3px 10px #0006;
	--ui-shadow-large: 0 0 0 1px #0003, 0 5px 20px #000a;
	--ui-shadow-fancy:
		0 0 0 0.5px #111,
		0 1px 5px rgb(0 0 0 / 30%),
		0 4px 10px rgb(0 0 0 / 10%),
		0 10px 25px rgb(0 0 0 / 8%);


	/* Z-INDEX */
	--ui-z-index-elevated: 9;
	--ui-z-index-popup: 999;
}


body {
	font-weight: 300;
	font-size: 100%;
	font-family: var(--ui-font-system), sans-serif;
	box-sizing: border-box;
}
body * { box-sizing: inherit; }

.flex-spacer { flex: 1; }
.icon-tabler { width: 1.5rem; height: 1.5rem; }

/* Icon visual alignment corrections */
.icon-tabler-dots-vertical { margin-left: -1px; }
.icon-tabler-alert-triangle { transform: translateY(1px); }
.icon-tabler-logout { transform: translateX(3px); }

/* adding this class to input elements will prevent auto-scrolling on focus in mobile safari */
.mobile .prevent-scrolling-on-focus:focus { animation: prevent-scrolling-on-focus 10ms; }

@keyframes prevent-scrolling-on-focus {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
