:root {
	color-scheme: dark light;

	--ui-border-radius: 0.3em;
	--ui-border-radius-s: 0.5em;
	--ui-border-radius-m: 0.7em;
	--ui-border-radius-l: 1em;
	--ui-border-radius-xl: 5em;

	/* margins & padding values */
	--ui-margin: 0.3em;
	--ui-margin-s: 0.1em;
	--ui-margin-m: 0.5em;
	--ui-margin-l: 1em;
	--ui-margin-xl: 2em;



	--ui-color-accent: #bb7a00;
	--ui-color-accent-semi: #bb7a0066;
	--ui-color-accent-light-1: #d69214;
	--ui-color-accent-light-2: #ffb325;
	--ui-color-accent-dark-1: #79520b;
	--ui-color-accent-dark-2: #694d13;

	--ui-color-info: #61738a;
	--ui-color-info-semi: #61738a66;
	--ui-color-info-dark-1: #515d6d;
	--ui-color-info-dark-2: #363e46;

	--ui-color-success: #3e795e;
	--ui-color-success-semi: #3e795e66;
	--ui-color-success-dark-1: #33654e;
	--ui-color-success-dark-2: #2e453a;

	--ui-color-warning: #916f0a;
	--ui-color-warning-semi: #916f0a66;
	--ui-color-warning-dark-1: #6d550e;
	--ui-color-warning-dark-2: #56481c;

	--ui-color-danger: #943737;
	--ui-color-danger-semi: #94373766;
	--ui-color-danger-dark-1: #792f2f;
	--ui-color-danger-dark-2: #5b3134;

	--ui-color-highlight: #1e6dc6;
	--ui-color-highlight-semi: #1e6dc666;
	--ui-color-highlight-light-1: #267bdc;
	--ui-color-highlight-light-2: #499eff;
	--ui-color-highlight-dark-1: #2262aa;
	--ui-color-highlight-dark-2: #1e4572;

	--ui-color-border: #1b1b1b;
	--ui-color-border-semi: #1b1b1b66;
	--ui-color-border-light-1: #2b2b2b;
	--ui-color-border-light-2: #353535;
	--ui-color-border-dark-1: #131313;
	--ui-color-border-dark-2: #0c0c0c;

	--ui-color-background: #2f2f2f;
	--ui-color-background-semi: #2f2f2f66;
	--ui-color-background-light-1: #353535;
	--ui-color-background-light-2: #535353;
	--ui-color-background-dark-1: #222222;
	--ui-color-background-dark-2: #1a1a1a;

	--ui-color-background-input: #222222;

	--ui-color-text: #d6d6d6;
	--ui-color-text-semi: #d6d6d666;
	--ui-color-text-light-1: #e3e3e3;
	--ui-color-text-light-2: #fefefe;
	--ui-color-text-dark-1: #aaaaaa;
	--ui-color-text-dark-2: #888888;


	/* popup vars */
	--ui-popup-border: 1px solid var(--ui-color-background-light-2);
	--ui-popup-border-radius: var(--ui-border-radius);
	--ui-popup-background: var(--ui-color-background);
	--ui-popup-shadow: var(--ui-shadow-fancy);

	/* shadows */
	--ui-animation-speed: .3s;
	--ui-shadow-button: 0 1px 0 #000000cc;
	--ui-shadow-focus: 0 0 2px 1px var(--ui-color-accent);
	--ui-shadow-invalid: 0 0 2px 1px var(--ui-color-danger);
	--ui-shadow-small: 0 0 0 0.5px #ffffff44, 0 3px 10px #00000066;
	--ui-shadow-large: 0 5px 20px #000000aa;
	--ui-shadow-fancy:
		0 0 0 0.5px #111111,
		0 1px 5px rgb(0 0 0 / 30%),
		0 4px 10px rgb(0 0 0 / 10%),
		0 10px 25px rgb(0 0 0 / 8%);
}


body,
body * { box-sizing: border-box; }

svg { width: 24px; height: 24px; }
