:root,
.theme-dark {
	color-scheme: dark;

	--ui-color-accent: #bb7a00;
	--ui-color-accent-semi: #bb7a0066;

	--ui-color-highlight: #1859a3;
	--ui-color-highlight-semi: #1859a366;
	--ui-color-highlight-1: #1e4572;

	--ui-color-secondary: #5a5956;
	--ui-color-secondary-semi: #5a595666;


	--ui-color-info: #30506a;
	--ui-color-info-semi: #30506a99;

	--ui-color-success: #33624d;
	--ui-color-success-semi: #33624d99;

	--ui-color-warning: #795001;
	--ui-color-warning-semi: #79500199;

	--ui-color-danger: #943737;
	--ui-color-danger-semi: #94373799;

	--ui-color-border: #1b1b1b;
	--ui-color-border-1: #131313;
	--ui-color-border-2: #0c0c0c;

	--ui-color-background: #2f2f2f;
	--ui-color-background-semi: #2f2f2f66;
	--ui-color-background-input: #222;

	--ui-color-background-1: #535353;
	--ui-color-background-2: #1a1a1a;



	--ui-color-text: #fff;
	--ui-color-text-semi: #fff6;
	--ui-color-text-1: #bbb;
	--ui-color-text-2: #888;


	--ui-popup-border: 1px solid #fff3;
	--ui-popup-background: var(--ui-color-background);

	--ui-shadow-button: 0 1px 0 #000c;
	--ui-shadow-tooltip: 0 0 0 1px #000, 0 0 5px #0006;
}
