.theme-light {
	color-scheme: light;

	--ui-color-accent: #b37400;
	--ui-color-accent-semi: #b3740066;

	--ui-color-highlight: #8ec6ff;
	--ui-color-highlight-semi: #8ec6ff66;
	--ui-color-highlight-1: #6ba0de;

	--ui-color-secondary: #c0beb4;
	--ui-color-secondary-semi: #c0beb466;


	--ui-color-info: #bbd3f0;
	--ui-color-info-semi: #bbd3f099;

	--ui-color-success: #7bd7ae;
	--ui-color-success-semi: #7bd7ae99;

	--ui-color-warning: #eec64e;
	--ui-color-warning-semi: #eec64e99;

	--ui-color-danger: #eb6e6f;
	--ui-color-danger-semi: #eb6e6f99;

	--ui-color-border: #bbb;
	--ui-color-border-1: #aaa;
	--ui-color-border-2: #999;

	--ui-color-background: #eee;
	--ui-color-background-semi: #eee6;
	--ui-color-background-input: #c2c2c2;

	--ui-color-background-1: #f0f0f0;
	--ui-color-background-2: #ccc;



	--ui-color-text: #000;
	--ui-color-text-semi: #0006;
	--ui-color-text-1: #222;
	--ui-color-text-2: #666;


	--ui-popup-border: 1px solid #ccc;
	--ui-popup-background: var(--ui-color-background);

	--ui-shadow-button: 0 1px 0 #000c;
	--ui-shadow-tooltip: 0 0 1px #0002, 0 0 5px #0006;
}
