.autocomplete {
	display: inline-flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	user-select: none;
	border-radius: var(--ui-border-radius);
	width: 25ch;
	vertical-align: middle;
}

.autocomplete .icon-wrap {
	cursor: pointer;
	position: absolute;
	right: 7px;
	width: 1.5em;
	height: 1.5em;
	color: var(--ui-color-text-dark-2);
	z-index: 1;
}
.theme-light .autocomplete .icon-wrap {
	color: var(--ui-color-text-light-2);
}
.autocomplete .icon-wrap svg { width: 100%; height: 100%; }
.autocomplete .autocomplete-input { width: 100%; padding-right: 30px; }

.autocomplete-list {
	position: absolute;
	top: 2em;
	z-index: 100;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	padding: 0.2em 0.2em 0.3em;
	min-height: 0;
	max-height: 26em;
	-webkit-user-select: none;
	user-select: none;
	transform: translateZ(1px);

	color: var(--ui-color-text);
	border: var(--ui-popup-border);
	border-radius: var(--ui-popup-border-radius);
	background: var(--ui-popup-background);
	box-shadow: var(--ui-popup-shadow);
}

.autocomplete-list:empty { padding: 0; box-shadow: none; border: none; }
.autocomplete-list:not(:empty) { min-height: 2em; }
.autocomplete-list.hidden { display: none; }

.autocomplete-list-header {
	padding: 1em 1em 0.5em;
	margin: 0;
	color: var(--ui-color-text-semi);
	line-height: 1;
	font-weight: 600;
	cursor: default;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.autocomplete-list-header:last-child { display: none; }

.autocomplete-list-empty {
	padding: 0.6em 1.2em;
	color: var(--ui-color-text-semi);
	cursor: default;
	white-space: nowrap;
}

.autocomplete-list-item {
	padding: 0.5em 1em;
	color: var(--ui-color-text);
	cursor: pointer;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	border-radius: var(--ui-border-radius);
}

.autocomplete-list-item.in-group {
	padding-left: 2em;
}

.autocomplete-list-item.selected {
	background-color: var(--ui-color-highlight-dark-2);
	outline: 1px solid transparent;
}
.autocomplete-list-item:hover {
	background-color: var(--ui-color-highlight);
	outline: 1px solid transparent;
}

.autocomplete-list-item b {
	color: var(--ui-color-accent);
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.autocomplete-list {
		background-color: var(--ui-color-background-semi);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}
}
