.group {
	background: #222;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 10px;
}

.group-light { background: #eee; }

.palette-box {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: var(--ui-color-background-dark-2);
}
