.div {
	border: 1px dashed red;
	height: 100px;
	width: 200px;
	display: inline-grid;
	place-items: center;
	margin: 0 10px 10px 0;
	-webkit-user-select: none;
	user-select: none;
}
small { display: block; margin: 5px 0 15px; }

.docs-menu-overflow {
	background-color: var(--ui-color-background-light-1);
	padding: 20px;
	overflow: hidden;
	z-index: 1;
	position: relative;
}

.another-element-with-z-index {
	background-color: var(--ui-color-background-light-1);
	padding: 20px;
	position: relative;
	z-index: 5;
}

.docs-menu-align-right {
	float: right;
}
