.theme-dark input { color-scheme: dark; }
.theme-light input { color-scheme: light; }


input::placeholder { color: var(--ui-color-text-dark-2); }
.theme-light input::placeholder { color: var(--ui-color-text-light-2); }


input:not([type=radio],[type=checkbox]) {
	font: inherit;
	height: 2.2rem;
	border: 1px solid transparent;
	line-height: 1;
	color: var(--ui-color-text);
	background-color: var(--ui-color-background-input);
	border-radius: var(--ui-border-radius);
	padding: 0 var(--ui-margin-m);
	width: 25ch;
}

input:focus { outline: 0; }

.label.disabled,
input:disabled { opacity: 0.75; }


input:not([type=radio]):focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
}


input:not([type=radio]).error,
input:not([type=radio]).error:focus,
input:not([type=radio]).invalid,
input:not([type=radio]).invalid:focus,
input:not([type=radio]):invalid {
	border-color: var(--ui-color-danger);
	box-shadow: var(--ui-shadow-invalid);
}

input.has-error-message {
	border-top: none;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

input[type=color] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.label {
	height: 2.2rem;
	line-height: 1.6;
	padding: 0 var(--ui-margin-s);
	display: inline-flex;
	align-items: center;
}


.input-error {
	margin: 0.5rem 0 -1px;
	padding-block: 0.3rem;
	padding-inline: 0.4rem 0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	width: 25ch;
	color: var(--ui-color-text);
	border: 1px solid var(--ui-color-danger);
	border-radius: var(--ui-border-radius) var(--ui-border-radius) 1px 1px;
	background-color: var(--ui-color-danger-dark-1);
	box-shadow: var(--ui-shadow-invalid);
	border-bottom: none;
}
