.theme-dark input { color-scheme: dark; }
.theme-light input { color-scheme: light; }


input::placeholder { color: var(--ui-color-text-dark-1); }

input:not([type=radio],[type=checkbox]) {
	font: inherit;
	height: 2.2em;
	border: 1px solid transparent;
	line-height: 1;
	color: var(--ui-color-text);
	background-color: var(--ui-color-background-input);
	border-radius: var(--ui-border-radius);
	padding: 0 var(--ui-margin-m);
	width: 25ch;
}

input:focus { outline: 0; }

.label.disabled,
input:disabled { opacity: 0.75; }


input:is([type=radio]) {
	vertical-align: inherit;
	transform: scale(1.6);
	filter: saturate(0.8);
	margin-right: 1em;
}

input:not([type=radio]):focus {
	border-color: var(--ui-color-accent);
	box-shadow: var(--ui-shadow-focus);
}


input:not([type=radio]):invalid {
	border-color: var(--ui-color-danger);
	box-shadow: var(--ui-shadow-invalid);
}


input:is([type=radio]):focus {
	box-shadow: 0 0 0 1px var(--ui-color-accent), var(--ui-shadow-focus);
	filter:
		saturate(0.8)
		drop-shadow(0 1px 0 var(--ui-color-accent))
		drop-shadow(0 -1px 0 var(--ui-color-accent))
		drop-shadow(1px 0 0 var(--ui-color-accent))
		drop-shadow(-1px 0 0 var(--ui-color-accent));
}

input[type=color] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.label {
	height: 2.2em;
	line-height: 1.6;
	padding: 0 var(--ui-margin-s);
	display: inline-flex;
	align-items: center;
}
