.shortcut {
	display: inline-flex;
	font: var(--ui-font-system);
	gap: 0.25rem;
	-webkit-user-select: none;
	user-select: none;
}

.shortcut kbd {
	display: flex;
	align-items: center;
	justify-content: center;

	font: inherit;
	font-size: var(--ui-font-xxs);
	font-weight: 400;

	cursor: default;
	padding: 1px 0;
	border-radius: 5px;
	height: 1.2rem;
	width: 1.2rem;
	color: var(--ui-color-text-1);
	background-color: var(--ui-color-background-2);
	box-shadow: 0 1px 1px #0009;
}
