aside {
	border-right: 1px solid var(--ui-color-border-2);
	overflow-y: auto;
	background: var(--ui-color-background);
	position: fixed;
	width: var(--sidebar-width);

	left: 0;
	top: 0;
	height: 100lvh;
	padding: 0 1rem calc(100lvh - 100svh);

	overscroll-behavior: contain;
	z-index: 10;
}

menu {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 1rem 0 0;
	margin: 0 0 2rem;
}

menu h3 {
	margin: 0 -1rem;
	padding: var(--ui-margin-m) var(--ui-margin-l);
	white-space: nowrap;
	font-family: 'Prime Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
}

menu h3:not(:first-child) { margin-top: var(--ui-margin-l); }

menu a {
	color: var(--ui-color-text);
	text-decoration: none;
	display: block;
	margin: var(--ui-margin-s) 0;
	padding: var(--ui-margin-m) 1.4rem;
	border-radius: var(--ui-border-radius);
	white-space: nowrap;
	touch-action: manipulation;
}

menu a:hover { background-color: var(--ui-color-highlight-1); }
menu a.active { background-color: var(--ui-color-highlight); }


.nav-toggler {
	--ui-button-size: 1.1em;
	position: fixed;
	left: 0;
	top: 0.4rem;
	z-index: 11;
	color: var(--ui-color-text-1);
	display: none;
	transform: translateX(10px);
}
.nav-toggler:hover { color: var(--ui-color-text); background: none; }


@media (1px <= width <= 700px) {
	.nav-toggler { display: flex; }
	.nav-toggler.expanded { transform: translateX(calc(var(--sidebar-width) - 40px)); }

	aside {
		z-index: 10;
		box-shadow: 2px 1px 10px #0006;
		transform: translateX(calc(var(--sidebar-width) * -1));

		--sidebar-elastic-padding: 80px;
		width: calc(var(--sidebar-width) + var(--sidebar-elastic-padding));
		left: calc(var(--sidebar-elastic-padding) * -1);
		padding-left: calc(var(--sidebar-elastic-padding) + 1rem);

	}
	aside.expanded { transform: translateX(0); }

	.nav-toggler:not(.swiping),
	aside:not(.swiping) { transition: transform .3s cubic-bezier(.5, .2, .5, 1.2); }
}
