aside {
	padding: 0 1rem 1rem;
	border-right: 1px solid var(--ui-color-border-2);
	height: 100%;
	overflow-y: auto;
	background: var(--ui-color-background);
}

menu {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 1rem 0 0;
	margin: 0 0 2rem;
}

menu h3 { margin: 0 -1rem; padding: 0.5rem 1rem; white-space: nowrap; }
menu h3:not(:first-child) { margin-top: 1rem; }

menu a {
	color: var(--ui-color-text);
	text-decoration: none;
	display: block;
	margin: 0.1rem 0;
	padding: 0.5rem 1.4rem;
	border-radius: var(--ui-border-radius-s);
	white-space: nowrap;
}

menu a:hover { background-color: var(--ui-color-highlight-1); }
menu a.active { background-color: var(--ui-color-highlight); }


.nav-toggler {
	--ui-button-size: 1.1em;
	position: absolute;
	left: 0.6rem;
	top: 0.4rem;
	z-index: 10;
	transition: left .2s ease-out;
	color: var(--ui-color-text-1);
	display: none;
}
.nav-toggler:hover { background: none; color: var(--ui-color-text); }

.nav-toggler.visible { left: 182px; }

@media (1px <= width <= 700px) {
	.mobile-show { margin-left: 0; }
	.nav-toggler { display: flex; }
	aside {
		width: 230px;
		margin-left: -230px;
		transition: margin .2s ease-out;
		position: absolute;
		z-index: 9;
		box-shadow: 2px 1px 10px #0006;
	}
}
